{% load static  %}
<table class="table table-striped table-valign-middle"id='{{id_table}}'>
        <thead>
            <tr>
            {% if encabezado %}
                {% for columna in encabezado%}
                    <th>{{columna.nombre}}</th>
                {% endfor%}
            {% else %}
               <p>Falta encabezado</p>
            {% endif %}
            </tr>
        </thead>
        <tbody>
            {% if body %}
                {% for fila in body%}
                <tr>
                    {%for k, v in fila.items%}
                    <td>
                        {{v}}
                    </td>
                    {%endfor%}
                    <td>
                    <a href="#" class="text-perfil">
                        <i class="fas fa-search"></i>
                    </a>
                    <a href="#" class="text-perfil pl-2">
                        <i class="fas fa-graduation-cap "></i>
                    </a>
                    </td>
                </tr>
                {% endfor%}
                {% endif%}
            </tbody>
        </table>