{% load static  %}
<table class="table table-striped table-valign-middle">
        <thead>
            <tr>
            {% if encabezado %}
                {% for columna in encabezado%}
                    <th>{{columna.nombre}}</th>
                {% endfor%}
            {% else %}
                <th>lolo</th>
                <th>lolo</th>
                <th>lolo</th>
            {% endif %}
            </tr>
        </thead>
        <tbody>
            {% if body %}
                {% for fila in body%}
                <tr>
                    <td>
                        <img src="{% static 'img/python.png' %}" class="img-tabla-curso card-img-top h-md-25 w-md-50 m-2 rounded"  alt="...">
                        {{fila.nombre}}
                    </td>
                    <td>
                        {{fila.municipio}}
                    </td>
                    {% if fila.tipo %}
                    <td>
                        {{fila.tipo}}
                    </td>
                    {% endif %}
                    <td>
                    <a href="#" class="text-perfil">
                        <i class="fas fa-search"></i>
                    </a>
                    <a href="#" class="text-perfil pl-2">
                        <i class="fas fa-graduation-cap "></i>
                    </a>
                    </td>
                </tr>
                {% endfor%}
                {% endif%}
            </tbody>
        </table>