{% load filterCustom %}
{% load humanize%}

    
    <div class="card ">
                <div class="card-body">
                    <div class="ribbon-wrapper animated ">
                       <div class="ribbon bg-success ribbon-comentario  ">nuevo</div>
                    </div>
                    <div class="card-comment p-1 id='card_comentario_{{comentario.pk}}">
                        
                            <!-- User image -->
                            <img class="img-circle img-sm" src="{{comentario.usuario.perfil.get_image}}" alt="User Image">
                            <span
                                class='{% if comentario.usuario.perfil.tipo == "ES" %} text-success {% else %} text-danger {% endif %}'
                                style="position: absolute; left: 20px;margin-top: 25px; font-size: 0.8rem;"> 
                                <small>{{comentario.usuario.perfil.get_tipo_display}} </small>
                            </span>
                        <div class="comment-text pl-3">
                            <span class="username">
                            {{comentario.usuario.username}}
                            <span class="text-muted float-right mt-3">{{comentario.fecha_comentario|naturaltime}}</span>
                            </span><!-- /.username -->
                            <span  class='comentario-texto-papa'>{{comentario.texto}}</span>
                        </div>
                        <!-- /.comment-text -->
                        {% comentario_hijos request comentario as listaHijos %}
                        <div class="card collapsed-card m-0 ml-4 mt-2 ">
                            <div class="card-header p-0 pr-2 pl-2">
                            <div class="card-title">
                                <small><span id='cant_respuesta'>{{ listaHijos.count}}</span> Respuestas<span id='badge-respuesta' class='badge badge-danger navbar-badge d-none' ></span></small>
                            </div>
                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                <i class="fas fa-plus"></i>
                                </button>
                            </div>
                            </div>
                            <div class="card-body">
                            <small>
                                {% for hijo in listaHijos %}
                                    <div class="card-comment id='card_comentario_hijo_{{hijo.pk}}">
                                    <!-- User image -->
                                    <img class="img-circle img-sm" src="{{ hijo.usuario.perfil.get_image }}" alt="User Image">
                                    <span
                                        class='{% if hijo.usuario.perfil.tipo == "ES" %} text-success {% else %} text-danger {% endif %}'
                                        style="position: absolute; left: 10px;margin-top: 25px; font-size: 0.8rem;"> <small>
                                        {{hijo.usuario.perfil.get_tipo_display}} </small></span>
                                    <div class="comment-text">
                                        <span class="username">
                                        {{ hijo.usuario.username }}
                                        <span class="text-muted float-right">{{ hijo.fecha_comentario|naturaltime }}</span>
                                        </span><!-- /.username -->
                                        <span id='texto_hijo'>{{ hijo.texto }}</span>
                                    </div>
                                    <!-- /.comment-text -->
                                </div>
                                {% endfor %}
                                <form action="#" method="post" id='form-comentario-g'>
                                {%csrf_token%}
                                <input type="hidden" value='hijo' name='action'>
                                <input type="hidden" value='{{ id_matricula }}' name='id_matricula'>
                                <input type="hidden" value='{{ comentario.pk }}' name='id_comentario'>
                                <img class="img-fluid img-circle img-sm" src="{{ request.user.perfil.get_image }}"
                                    alt="Alt Text">
                                <!-- .img-push is used to add margin to elements next to floating images -->
                                <div class="img-push">
                                    <input type="text" class="form-control form-control-sm"
                                    placeholder="Presione enter para comentar" name='texto'>
                                </div>
                                </form>
                            </small>
                            </div>
                        </div>
                    </div>
                </div>
    </div>