{% extends 'base.html'%}
{% load static%}

{% block head %}
<link rel="stylesheet" href="{% static 'lib/datatables-1.10.20/css/dataTables.bootstrap4.min.css' %}" />
<link rel="stylesheet"
    href="{% static 'lib/datatables-1.10.20/plugins/responsive-2.2.3/css/responsive.bootstrap4.min.css' %}" />
{% endblock  %}

{% block titulo %}<img src="{% static 'img/iconos/curso.png' %}" alt="Fecha fin"
    style="width: 2.5rem; margin-right: 1rem;" srcset="">Detalle del Curso{%endblock%}
{%block contenido%}
<div class="cargar_matricula"></div>
{%endblock%}
{%block js%}
<script src="{% static 'lib/datatables-1.10.20/js/jquery.dataTables.js' %}"></script>
<script src="{% static 'lib/datatables-1.10.20/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'lib/datatables-1.10.20/plugins/responsive-2.2.3/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'lib/datatables-1.10.20/plugins/responsive-2.2.3/js/responsive.bootstrap4.min.js' %}"></script>
<script>
    $(function () {
        let cargarDataTable = function () {
            //cargar datatable de comentario
            $('#tabla_comentario').DataTable({
                pageLength: 5,
                lengthMenu: [
                    [5, 10, 20, -1],
                    [5, 10, 20, "Todos"]
                ],
                "order": [],
                columnDefs: [{
                    targets: 0,
                    orderable: false,

                }]
            });
        }


        $('.cargar_matricula').load('{% url "prematricula:matricula-detalle" 2 %}', function () {
            $('[data-toggle="popover"]').popover({
                html: true,
                content: function () {
                    var content = $(this).attr("data-popover-content");
                    return $(content).children(".popover-body").html();
                },
                title: function () {
                    var title = $(this).attr("data-popover-content");
                    return $(title).children(".popover-heading").html();
                }
            });
            //cargar like
            $('#like_button').on('click', function (event) {
                var pk = $(this).attr('value');
                $.ajax({
                    type: 'POST',
                    url: '{% url "prematricula:matricula-like" %}',
                    data: {
                        'id_matricula': pk,
                        'csrfmiddlewaretoken': '{{ csrf_token }}'
                    },
                    datatype: 'json',
                    success: function (response) {
                        if (response["error"] == false) {
                            if (response['is_liked']) {
                                $('#like_button').removeClass('btn-default');
                                $('#like_button').addClass('btn-info');
                            } else {
                                $('#like_button').removeClass('btn-info');
                                $('#like_button').addClass('btn-default');
                            }
                            $('#cantidad_like').html(response['total_likes'])
                                .fadeIn(1000);

                        }


                    },
                    error: function (rs, e) {
                        console.log(rs.responseText);
                    },
                });
            });
            cargarDataTable();
            //evento del formulario comentario general
            $("#comentario-contenedor").on('submit', 'form', function (e) {
                e.preventDefault();
                console.log(e.target.texto.value);
                var parametro = new FormData(e.target);
                $.ajax({
                    type: 'POST',
                    url: '{% url "prematricula:comentario-add" %}',
                    data: parametro,
                    datatype: 'json',
                    processData: false,
                    contentType: false,
                    success: function (response) {
                        if (response["error"] == false) {
                            if (response['estudiante']) {
                               mensaje('succes',"Comentario enviado correctamente. ");
                            } else {
                                $("#cargarComentarios").load(
                                    '{% url "prematricula:comentario-listar" %}', {
                                        'id_matricula': 2,
                                        'csrfmiddlewaretoken': function () {
                                            return $(
                                                'input[name="csrfmiddlewaretoken"]'
                                            ).val();
                                        },
                                    },
                                    function () {
                                        cargarDataTable();
                                    });
                                    mensaje("success","Comentario enviado correctamente.");
                            }
                            e.target.texto.value='' ;
                        }
                        else{
                            mensaje("error","Error mandando comentario. ");
                        }


                    },
                    error: function (rs, e) {
                        console.log(rs.responseText);
                    },
                });//fin ajax
            });
            //formulario responder 

        });

    });
</script>
{%endblock%}