{% if not listaAlumnos%}
<h1 class="text-center no-alumnos">No hay alumnos matriculados</h1>
{% else %}
{% for item in listaAlumnos %}
<div class="carousel-item {% if forloop.first %}active{% endif %} ">
    <ul class="users-list clearfix">
        {% for estudiante in item %}
        <li>
            <img src="{{estudiante.estudiante.usuario.perfil.get_image}}" alt="Imagen de usuario"
                style="max-width: 30%;">
            <span class="users-list-name text-white">{{estudiante.estudiante.usuario.username}}</span>
            <span class="users-list-date"></span>
        </li>
        {% endfor %}

    </ul>
</div>
{% endfor %}
{% endif %}