{% extends 'element_comun/list.html' %} {% load static %} {% load widget_tweaks %}
{% block head_list %}
<link rel="stylesheet" href="{% static 'lib/select2-4.0.13/css/select2.min.css'%}" />
<link rel="stylesheet" href="{% static 'lib/select2-4.0.13/css/select2-bootstrap4.min.css'%}" />
<style>
  .duracion-curso-lista{
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translate(-50%,-50%);
  }
  .img-curso-lista{
    position: absolute;
    left: 50%;
    width: 50px;
    height: 50px;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .badge-curso-listar{
   top:-6px !important;
   box-shadow: 1px 3px 5px -2px #3f474e; 
  }
  /* esto es para que no se salga el texto largo de la tabla */
  .table.dataTable.nowrap th, table.dataTable.nowrap td{
    white-space: inherit !important;
  }

  @media (max-width:674px){
      #resumen_busqueda{
        margin: 0 auto;
        display: grid;
        grid-gap: 1rem;
        grid-template-columns: repeat(4, 1fr);
      }
      .duracion-curso-lista{
        position: initial;
        transform: inherit;
      }
      .img-curso-lista{
        position: initial;
        transform: inherit;
      }
      
  }
  @media (max-width:464px){
      #resumen_busqueda{
        margin: 0 auto;
        display: grid;
        grid-gap: 1rem;
        grid-template-columns: repeat(2, 1fr);
      }
       .badge-curso-listar{
         opacity: 0;
          }
      
  }
  .info-instructor-tabla{
    background-color: #343a401c;
    border-radius: 10px;  
  }
   .info-instructor-tabla dl{
    margin-bottom: 0px!important;
  }
  .select2-container {
    background-color: #fff;
  }

  .modal-header {
    padding: 0.5rem 1.2rem !important;
  }

  .modal-body {
    padding: 0 1rem;
  }

  .select2-container--bootstrap4 .select2-selection--single {
    height: calc(1.8125rem + 2px) !important;
  }
  .modal-body .card {
    background-color: #fff;
  }
  .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    background-color: #26bdef;
  } 
  .nav-link.active:hover{
    color: #dad6d6 !important;
  } 
  .modal a:hover{
    color: #26bdef !important;
  }
  .list-group-item{
    padding: 0;
    
  }
  .modal-footer{
    padding-top: 0 !important;
  }
  #badge_frecuencia_interes{
    position: absolute;
    margin-left: 0.2rem;
  }
#tb-interes_info,#tb-matriculado_info{
  padding-top: 2rem;
}
#tb-interes_paginate,#tb-matriculado_paginate{
  margin: -0.5rem;
}


.pagination{
  font-size: smaller;
}
</style>
{% endblock %}
{% block columns %}
<tr>
  <th style="width:2%;" >Select</th>
  <th>Id</th>
  <th style="width:100%;">Nombre</th>
  <th>Duracion</th>
  <th >descripcion</th>
  <th >descripcion_corta</th>
  <th >nextCurso</th>
  <th >foto_url</th>
  <th >nextCurso_nombre</th>
  <!-- {% if perms.user.change_curso or perms.user.delete_curso %} -->
  <th style="width:5%;">Acción</th>
  <!-- {%endif%} -->
</tr>
{% endblock %}

{% block busqueda %}
<div class="container">
  <div class="card collapsed-card mb-1" id='card_busqueda'>
          <div class="card-header p-0 pl-2 py-1">
              <div class="card-title">
                  <small><i class="fa fa-search pr-2"></i>Busqueda: <span class='text-black-50 ' id='resumen_busqueda'>Todos</span></small>
              </div>
              <div class="card-tools pr-4">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse">
                      <i class="fas fa-plus"></i>
                  </button>
              </div>
          </div>
          <div class="card-body p-2">
            <form action="" id='form_busqueda'>
              <div class="row">
                  <div class="col-12 col-md-4">
                      <div class="form-group m-0">
                          <label for="inputNombre" class='m-0'>Nombre:</label>
                          <input name="nombre" type="text"class="form-control form-control-sm" id="inputNombre">
                      </div>
                  </div>
                  <div class="col-12 col-md-4">
                      <div class="form-group m-0">
                          <label for="inputDuracion" class='m-0'>Duración:</label>
                            <select name="duracion" autocomplete="off" class="form-control form-control-sm" id="inputDuracion">
                              <option value="">---------</option>
                              <option value="24" >24 horas</option>

                              <option value="36">36 horas</option>

                              <option value="64">64 horas</option>

                            </select>
                      </div>
                  </div>
              </div>
            </div>
            <!-- /.card-body -->
            <div class="card-footer p-2">
              <button id='buscar_btn' class="btn btn-primary btn-xs">
                Realizar Busqueda<i class="fa fa-search pl-2"></i>
              </button>
              <button  id='cancelar_buscar_btn' class="btn btn-danger btn-xs">
                Cancelar y Mostrar Todos<i class="fa fa-trash-alt ml-1"></i>
              </button>
            </div>
          </form>
      </div>
</div>
{% endblock %}

{% block boton_accion%}
{% endblock%}

{%block class_modal%}modal-lg{% endblock %}
{%block form_modal%}
    <div class="row">
      <div class="col-8">
        <div class="form-group">
          {{form_curso.nombre.label_tag}}
          {{form_curso.nombre|add_class:'form-control form-control-sm'|attr:'autocomplete:off'}}
        </div>
      </div>
      <div class="col-4">
        <div class="form-group">
          {{form_curso.duracion.label_tag}}
          {{form_curso.duracion|add_class:'form-control form-control-sm'|attr:'autocomplete:off'}}
        </div>
      </div>
      <div class="col-12">
        <div class="form-group">
          {{form_curso.descripcion.label_tag}}
          {{form_curso.descripcion|add_class:'form-control form-control-sm'|attr:'autocomplete:off'}}
        </div>
      </div>
      <div class="col-6">
        <div class="form-group">
          {{form_curso.nextCurso.label_tag}}
          {{form_curso.nextCurso|add_class:'form-control form-control-sm select2'|attr:'autocomplete:off'}}
        </div>
      </div>
      <div class="col-6">
        <div class="form-group">
          {{form_curso.foto.label_tag}}<img id='image-previews' class="ml-2" width="40px" height="40px">
          {{form_curso.foto|add_class:'form-control form-control-sm'|attr:'autocomplete:off'}}
        </div>
      </div>
    </div>
{%endblock%}

{%block js_listar%}
<script src="{% static 'lib/select2-4.0.13/js/select2.min.js' %} "></script>
<script src="{% static 'lib/select2-4.0.13/js/i18n/es.js' %} "></script>
<script>
  $(function () {
    $('.select2').select2({
        theme: 'bootstrap4',
        language: 'es',
      });
    document.getElementById('id_foto').onchange = function () {
        var src = URL.createObjectURL(this.files[0]);
        document.getElementById('image-previews').src = src ;
    }
    //creacion de la tabla con  serverside
    var tblListar = $("#data").DataTable({
      'serverSide':true,
      'processing':true,
      'buttons': [
        'copy', 'excel', 'pdf'
    ],
      responsive: {
        details: true,
    },
      'ajax':function(data,callback,settings){
         $.post(window.location.pathname,{
           'action': 'cargarDatos',
           'csrfmiddlewaretoken': function () {
             return $('input[name="csrfmiddlewaretoken"]').val();
           },
           limite:data.length,
           inicio:data.start,
           busqueda:data.search.value

         },function(response){
               callback({
                 recordsTotal:response.total,
                 recordsFiltered:response.total,
                 data:response.lista

               });
         });
      },
        columns: [{
          "data": 'id',
        },
        {
          "data": "id"
        },
        {
          "data": "nombre"
        },
        {
          "data": "duracion"
        },
        {
          "data": "descripcion"
        },
        {
          "data": "descripcion_corta"
        },
        {
          "data": "nextCurso"
        },
        {
          "data": "foto_url"
        },
        {
          "data": "nextCurso_nombre"
        },
        //{% if perms.user.change_curso or perms.user.delete_curso %}
        {
          "data": "corto"
        }
        //{%endif%}
      ],
      columnDefs: [{
          targets: 0,
           responsivePriority: 1,
          orderable: false,
          class: 'text-center',
          render: function (data, type, row) {
            var buttons =
              `<div class="form-check"><input type="checkbox" class="form-check-input" value="1"></div><div class="mt-4" style="font-size:0.6rem;">${row.nombre}</div>`;
            return buttons
          }
        },
        {
          targets: [1,3,4,5,6,7,8],
          visible: false,
        },
        {
          targets: [2],
           responsivePriority: 1,
          orderable: false,
          render: function (data, type, row) {
            var buttons =
              `
              <div class='wrapper'>
             <div class="card p-0 py-2 m-1" style="overflow:hidden;">
                <div class='card-body p-0 m-1'>
                  <div class='row'>
                    <div class='col-12  col-lg-2 col-md-2 col-sm-2 d-flex flex-column '>
                      <img src='${row.foto_url}' class=' mx-auto img-circle elevation-2 img-curso-lista' alt='image usuario' width='40px' height='40px'>
                      <small class='text-center duracion-curso-lista'><span class="badge badge-success ">${row.duracion} h</span></small>
                    </div>
                    <div class='col-12 col-lg-10 col-md-10 col-sm-10  p-1 pb-0 text-center bg-info' style="box-shadow: 0.5px 5px 5px 1px rgba(0,0,0,0.25);border-radius: 10px 1px 1px 10px;">
                      <small>
                        <div class='row'>
                          <div class='col-12'>  
                            <h5 class='mb-0' style="font-size: 0.9rem;font-weight: bold;">${data}</h5>
                            <p class="texto-curso-lista mb-0" style="color: #ffffffdb;">${row.descripcion_corta}</p>
                          </div>
                        </div>  
                      </small>
                    </div>
                  </div>
                </div>
                </div>
                <span class="badge badge-secondary navbar-badge badge-curso-listar">R: <strong>${row.nextCurso_nombre}</strong></span>
               </div>
              `;
            return buttons
          }
        },
        //{% if perms.user.change_curso or perms.user.delete_curso %}
        {
          targets: [-1],
          responsivePriority: 2,
          class: "text-center",
          orderable: false,
          render: function (data, type, row) {
            var buttons = '<span style="white-space:nowrap !important;">'
            buttons +=
            //{% if perms.user.view_curso%}
              '<a href="#" rel="view" class="text-success" data-toggle="tooltip" title="Ver curso"><i class="fa fa-search fa-fw" aria-hidden="true"></i></a>';
            //{%endif%}
              //{% if perms.user.change_curso%}
            buttons +=
              '<a href="#" rel="edit" class="pl-1 text-info" data-toggle="tooltip" title="Editar curso"><i class="fa fa-edit" aria-hidden="true"></i></a>';
            //{%endif%}
            //{% if perms.user.delete_curso%} 
            buttons +=
              '<a href="#" rel="delete" class="pl-1 text-danger" data-toggle="tooltip" title="Eliminar curso"><i class="fa fa-trash-alt" aria-hidden="true"></i></a>'
            //{%endif%}
          buttons +='</span>'
          console.log(buttons);
            return buttons
          }
        },
        //{%endif%}

      ],
      order: [
        [4, 'asc']
      ],
      initComplete: function (settings, json) {
            
            //botones de accion 
                $('#btnDeleteAll').on('click', function (element) {
                  element.preventDefault();
                  delete_select(tblListar);
                });

                $("#btnNuevo").on("click", function (element) {
                  element.preventDefault();
                  abrir_modal_nuevo("Nuevo Curso");
                });
                
                $('#data tbody').on('click', 'a[rel="edit"]', function (element) {
                  element.preventDefault();
                  abrir_modal_editar("Editar Curso", tblListar, element.currentTarget);
                });
                $('#data tbody').on('click', 'a[rel="delete"]', function (element) {
                  element.preventDefault();
                  delete_registro(tblListar, element.currentTarget);
                });
            //fin de botones de accion
      }
    });//fin de DataTable server
    
    //agregamos los botones a la tabla
    $('#data_filter').html('<!-- {% if perms.user.add_curso%} --><button type="button" class="btn btn-default btn-xs" id="btnNuevo"><span>Nuevo Registro</span><i class="fa fa-plus ml-2"></i></button><!-- {%endif%}  {% if perms.user.delete_curso%} --><button type="button" class="btn btn-danger  ml-1 btn-xs" id="btnDeleteAll">  <span>Borrar selección</span><i class="fa fa-trash-alt ml-1"></i></button><!-- {% endif %} --><button  id="cancelar_buscar_btn_tabla" class="btn btn-danger btn-xs ml-1">Cancelar Busqueda<i class="fa fa-search ml-1"></i></button>');
     
    //tratamientos a los botones de las busquedas
    //boton para cancelar la busqueda
    let funcionCancelarBusqueda = function (e) {
      e.preventDefault();
      //obtener todos los elementos del formulario de busqueda
      var elements = document.getElementById("form_busqueda").elements;
      //iteramos todos para inicializarlos a todos
      for (var i = 0, element; element = elements[i++];) {
        //verifico si es un select, porque llevan un tratamiento diferente
        if(element.nodeName=='SELECT'){
          //si es un select y tambien es municipio, lo limpio.
          if(element.name=='municipio'){
             element.innerHTML='';
          }
          else{
            //es un select pero es provincia los inicializo con jquery
            $(element).val('');
            $(element).trigger('change');
          }

        }
        else{
          //los otros elementos normal el inicio
          element.value='';
        }
      }
      //actualizo los datos en el titulo de la caja de busqueda
      $('#resumen_busqueda').html('Todos');
      //genero un diccionario con filtro vacio para criterio de busqueda sea todo
      var dict_busqueda_json =JSON.stringify({
                    filtro:{}
                    }); 
      //llamo al metodo buscar de datatable y pinto la busqueda
      tblListar.search(dict_busqueda_json).draw();
    }
    $('#cancelar_buscar_btn').on('click',function(e){
      funcionCancelarBusqueda(e);
    });
    $('#cancelar_buscar_btn_tabla').on('click',function(e){
      funcionCancelarBusqueda(e);
    });
     //boton de busquar 
     $('#buscar_btn').on('click',function(e){
      e.preventDefault();
      //listado de los datos a busquar
      let dict_busqueda = new Object()
      let dict_busqueda_text = ''
      //todos los elementos del formulario
      var elements = document.getElementById("form_busqueda").elements;
      //recorro cada elemento y si tiene datos lo incorporo a la lista
      for (var i = 0, element; element = elements[i++];) {
        if(element.value!=''){
          dict_busqueda[element.name]=element.value;
          if(element.nodeName=='SELECT'){
            dict_busqueda_text += '<span>'+element.name+':<strong class="mx-1">'+element.options[element.selectedIndex].innerHTML+'</strong></span>';
          }
          else{
            dict_busqueda_text += '<span>'+element.name+':<strong class="mx-1">'+element.value+'</strong></span>';
          }
        }
      }
      //si la lista no esta vacia procedo a realizar la busqueda
      if(Object.keys(dict_busqueda).length>0){
        console.log(dict_busqueda);
        var dict_busqueda_json =JSON.stringify({
                    filtro:dict_busqueda
                    }); 
        tblListar.search(dict_busqueda_json).draw();
        $('#resumen_busqueda').html(dict_busqueda_text);
        $('#card_busqueda').CardWidget('collapse');
      }
      
    });

    //fin de tratamiento de botones de las busquedas

    //botones del nav de detalle
    $('#data tbody').on('click', 'a[rel="view"]', function (element) {
      element.preventDefault();
      var tr = tblListar.cell($(element.currentTarget).closest('td,li')).index();
      //paso a data una lista de los valores de la row a editar
      var data = tblListar.row(tr.row).data();
     
      modal_title.find('span').html('Datos de Curso');
      modal_title.find('i').removeClass().addClass('fa fa-edit');
      $('.modal-footer').html('');
      //cargo los datos del curso
      $('#contenido-modal').load('/sistema/curso-detail/'+data.id+'/',function() {
                 $('#modal-nuevo').modal('show');
      });
      //variable como semafaro para en la funcion del cerrar del modal cargar el formulario 
      cargar_extra_on_hide_modal = true
    });
    
    $.validator.setDefaults({
      submitHandler: function (form) {
        var parametros = new FormData(form);
        parametros.append('id_edit', id_edit);
        submit_with_ajax(window.location.pathname, 'Notificacion', 'Estas seguro de guardar los datos?',
          parametros,
          function (data) {
            $('span').remove('.invalid-feedback');
            if (data.enviado) {
              $("#modal-nuevo").modal("hide");
              tblListar.ajax.reload();
              mensaje("success", "Guardado el Registro - " + data.nombre);
              id_edit = null;
            } else {
              var error = JSON.parse(data.error)
              var listado_error = []
              for (const key in error) {
                listado_error.push(`${key}: ${error[key][0]['message']}`)
                var element = $(`#formRegistro [name="${key}"]`)
                element.addClass("is-invalid");
                var html = `<span class='invalid-feedback'>${error[key][0]['message']}</span>`
                element.closest(".form-group").append(html);
              }
              mensaje("error", "Error Guardando el Registro - " + listado_error);
            }
          })
      }
    });
    
    //validacion del formulario 
    $("#formRegistro").validate({
      rules: {
        
        nombre: {
          required: true,
          maxlength: 100,
        },
      },
      messages: {
        nombre: {
          required: "El  nombre del curso es necesario",
          maxlength: "No esta permitido mas de 100 caracteres",
        },
      },
      errorElement: "span",
      errorPlacement: function (error, element) {
        error.addClass("invalid-feedback");
        element.closest(".form-group").append(error);
      },
      highlight: function (element, errorClass, validClass) {
        $(element).addClass("is-invalid");
      },
      unhighlight: function (element, errorClass, validClass) {
        $(element).removeClass("is-invalid");
      },
    });
  });
</script>
{%endblock%}
<!-- actualizacion de varios bloques -->

<!-- actualizar el bloque de cuando se cierra el modal y hay que cargar el formulario despues de ver los detalles del registro -->
{% block on_hide_modal %}
    $('#contenido-modal').load('{% url "prematricula:curso-add-form"%}',function() {
       document.getElementById('id_foto').onchange = function () {
        var src = URL.createObjectURL(this.files[0]);
        document.getElementById('image-previews').src = src ;
    }  
    });
{% endblock %}

<!-- personalizar el modal de editar -->
{% block abrir_modal_editar%}
    //con esto obtengo el tr del boton edit de la tabla
    var tr = tabla.cell($(element).closest('td,li')).index();
    //paso a data una lista de los valores de la row a editar
    var data = tabla.row(tr.row).data();

    $.ajax({
        url: "{% url 'prematricula:curso-datos'  %}",
        type: 'POST',
        data: {
            'id_curso': data.id,
            csrfmiddlewaretoken: function () {
            return $('input[name="csrfmiddlewaretoken"]').val();
        },
        },
        dataType: 'json'
        }).done(function (respuesta) {
        if(respuesta['enviado']){
            var elements = document.getElementById("formRegistro").elements;
            console.log(respuesta);
            for (var i = 0, element; element = elements[i++];) {
                if(element.type != 'button' && element.type != 'hidden' && element.type != 'submit'){
                  console.log(element);
                  if(element.name=='duracion'){
                    $(element).val(respuesta[element.name]).trigger("change");
                  }
                  else if(element.name=='foto'){
                        document.getElementById('image-previews').src = respuesta['foto_url'] ;
                  }
                  else if(element.name=='nextCurso'){
                    $(element).val(respuesta[element.name]).trigger("change");
                  }
                  else{
                    element.value= respuesta[element.name];
                  }
                }
            }
            $('input[name="action"]').val("edit");
            id_edit = data.id;
            modal_title.find('span').html(titulo);
            modal_title.find('i').removeClass().addClass('fa fa-edit');
            $('#modal-nuevo').modal('show');
        }
        else{
           console.log('problema con el ajax en editar curso');
        }
    });

{% endblock %}
<!-- esto es bloque para agregar mas funciones para inicializar los datos cuando se esconde el modal del registro -->
{% block on_hidden_modal_extra %}
  document.getElementById('image-previews').src = '' ;
{% endblock %}