{% load widget_tweaks %}
 <div class="row">
      <div class="col-8">
        <div class="form-group">
          {{form_curso.nombre.label_tag}}
          {{form_curso.nombre|add_class:'form-control form-control-sm'|attr:'autocomplete:off'}}
        </div>
      </div>
      <div class="col-4">
        <div class="form-group">
          {{form_curso.duracion.label_tag}}
          {{form_curso.duracion|add_class:'form-control form-control-sm'|attr:'autocomplete:off'}}
        </div>
      </div>
      <div class="col-12">
        <div class="form-group">
          {{form_curso.descripcion.label_tag}}
          {{form_curso.descripcion|add_class:'form-control form-control-sm'|attr:'autocomplete:off'}}
        </div>
      </div>
      <div class="col-6">
        <div class="form-group">
          {{form_curso.nextCurso.label_tag}}
          {{form_curso.nextCurso|add_class:'form-control form-control-sm select2'|attr:'autocomplete:off'}}
        </div>
      </div>
      <div class="col-6">
        <div class="form-group">
          {{form_curso.foto.label_tag}}<img id='image-previews' class="ml-2" width="40px" height="40px">
          {{form_curso.foto|add_class:'form-control form-control-sm'|attr:'autocomplete:off'}}
        </div>
      </div>
    </div>