{% extends 'element_comun/list.html' %} {% load static %} 
{% load widget_tweaks%} 
{% block head_list %}
<link
  rel="stylesheet"
  href="{% static 'lib/jquery-confirm-v3.3.4/jquery-confirm.min.css'%}"
/>
{% endblock %} 
{% block columns %}
    <tr>
      <th >Id</th>
      <th >Nombre</th>
      <th >Acción</th>
    </tr>
{% endblock %}
{% block boton_accion%}
    <button type="button" class="btn btn-default" id='btnNuevo' >
        <i class="fa fa-plus"></i>
    </button>
    <button type="button" class="btn btn-danger  ml-1" id='btnDeleteAll' >
        <i class="fa fa-trash-alt mr-1"></i><span>Borrar selección</span>
    </button>
    {% endblock%}
{%block modal_listar%}
<div class="modal fade" id="modal-nuevo">
  <form action="post" id='fromProvincia'>
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title"><i class=""></i><span class="pl-2"></span></h4>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <input type="hidden" name="action" value="add" />
          {% csrf_token %}
          {% for field in form.visible_fields%}
          <div class="form-group">
            {{field.label_tag}}
            {{field|add_class:'form-control'|attr:'autocomplete:off'}}
          </div>
          {%endfor%}
        </div>
        <div class="modal-footer justify-content-between">
          <button type="submit" class="btn btn-primary vw-100">Guardar</button>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </form>
</div>
<!-- /.modal -->
{%endblock%} 
{%block js_listar%}
<script>
  $(function () {
    var modal_title = $('.modal-title');
    var id_edit = null;
    var tblProvincia = $("#data").DataTable({
      responsive: true,
      autoWidth: false,
      destroy:true,
      deferRender:true,
      loading:true,
      ajax:{
        url:window.location.pathname,
        type:'POST',
        data:{
          'action':'cargarDatos',
          'csrfmiddlewaretoken':function(){
                                  return $('input[name="csrfmiddlewaretoken"]').val();
                                },
        },
        dataSrc:''
      },
      columns:[
        {"data":"id"},
        {"data":"nombre"},
        {"data":"nombre"}
      ],
      columnDefs: [
        {
          targets:[0],
          visible:false,
        },
        {
          targets:[1],
          class: "text-center",
        },
        {
          targets: [-1],
          class: "text-center",
          orderable: false,
          render:function(data,type,row){
            var buttons = '<a href="#" rel="edit" class="text-info"><i class="fa fa-edit" aria-hidden="true"></i></a> ';
            buttons += '<a href="#" rel="delete" class="pl-2 text-danger"><i class="fa fa-trash-alt" aria-hidden="true"></i></a>'
            return buttons
          }
        },
      ],
      order:[[ 1, 'asc' ]],
      initComplete:function(settings,json){

      }
    });
    
    $("#btnNuevo").on("click", function () {
      $('input[name="action"]').val("add");
      modal_title.find('span').html("Crear Nueva Provincia");
      modal_title.find('i').removeClass().addClass('fa fa-plus');
      document.getElementById('fromProvincia').reset();
      $("#modal-nuevo").modal("show");
    });
    
    $('#data tbody').on('click','a[rel="edit"]',function(){
      var tr = tblProvincia.cell($(this).closest('td,li')).index();
      var data = tblProvincia.row(tr.row).data();
      var result = Object.entries(data);
      $('#fromProvincia input[type!="hidden"]').each(function(index,element){
        element.value = result[index+1][1];
      });
      $('input[name="action"]').val("edit");
      id_edit = result[0][1];
      modal_title.find('span').html("Editar Provincia");
      modal_title.find('i').removeClass().addClass('fa fa-edit');
      $('#modal-nuevo').modal('show');
    });
    $('#data tbody').on('click','a[rel="delete"]',function(){
        var tr = tblProvincia.cell($(this).closest('td,li')).index();
        var data = tblProvincia.row(tr.row).data();
        contexto = {
          id:data.id,
          action:"delete",
          csrfmiddlewaretoken:$('input[name="csrfmiddlewaretoken"]').val()
          },
        with_ajax(window.location.pathname,"Eliminando","Estas seguro de eliminar este registro-"+data.nombre,contexto,function(data){
          if (data.hasOwnProperty('error')){
              mensaje("error","Error Guardando el Registro - "+data.error );
              id_edit=null;
          }
          else{
            $("#modal-nuevo").modal("hide");
            tblProvincia.ajax.reload();
            mensaje("success","Registro eliminado correctamente");
            id_edit=null;
          }
        });
    });
    $.validator.setDefaults({
      submitHandler: function (form) {
        var parametros = new FormData(form);
        parametros.append('id_edit', id_edit);
        submit_with_ajax(window.location.pathname,'Notificacion','Estas seguro de guardar los datos?',parametros,function(data){
          if(data.enviado){
            $("#modal-nuevo").modal("hide");
            tblProvincia.ajax.reload();
            mensaje("success","Guardado el Registro - "+data.nombre);
            id_edit=null;
          }
          else{
            mensaje("error","Error Guardando el Registro - "+data.error );
          }
        })
    }});
    $("#fromProvincia").validate({
      rules: {
        nombre: {
          required: true,
          maxlength: 30,
          remote: {
                      url: "{% url 'prematricula:listar-provincia'%}",
                      type: "post",
                      data: {
                            action: "chequearProvincia",
                            edit_id:function(){
                              return id_edit;
                            },
                            csrfmiddlewaretoken:function(){
                                  return $('input[name="csrfmiddlewaretoken"]').val();
                                },
                        }
        }
          }
        },
      messages: {
        nombre: {
          required: "El nombre de la Provincia es necesario",
          maxlength: "No esta permitido mas de 30 caracteres",
          remote:"Ya esta en sistema",
        },
      },
      errorElement: "span",
      errorPlacement: function (error, element) {
        error.addClass("invalid-feedback");
        element.closest(".form-group").append(error);
      },
      highlight: function (element, errorClass, validClass) {
        $(element).addClass("is-invalid");
      },
      unhighlight: function (element, errorClass, validClass) {
        $(element).removeClass("is-invalid");
      },
    });
  });
</script>
{%endblock%}
