{% extends 'element_comun/list.html' %}

{% block columns %}
<tr>
    <th>Id</th>
    <th>Nombre</th>
    <th>Acción</th>
</tr>
{% endblock %}

{% block rows %}
{%for provincia in object_list%}
<tr>
    <th>
        {{provincia.id}}
    </th>
    <th>
        {{provincia.nombre}}
    </th>
    <th>
        <a href="." ><i class="fa fa-times" aria-hidden="true"></i></a>
        <a href="." ><i class="fa-fa-outdent" aria-hidden="true"></i></a>
    </th>
</tr>
{%endfor%}

{% endblock %}

{%block js_listar%}
<script>
    $(function () {
        $('#data').DataTable();
    });
</script>
{%endblock%}