{% load static%}
{% load filterCustom %}
{% load qr_code %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Matricula online Joven Club</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'inicio/img/favicon.png'%}" rel="icon">
  <link href="{% static 'inicio/img/logo-icon.png'%}" rel="apple-touch-icon">

  <!-- Google Fonts 
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,600,600i,700,700i" rel="stylesheet">
  -->
  <!-- Vendor CSS Files -->
  <link href="{% static 'inicio/vendor/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">
  <link href="{% static 'inicio/vendor/icofont/icofont.min.css'%}" rel="stylesheet">
  <link href="{% static 'inicio/vendor/boxicons/css/boxicons.min.css'%}" rel="stylesheet">
  <link href="{% static 'inicio/vendor/venobox/venobox.css'%}" rel="stylesheet">
  <link href="{% static 'inicio/vendor/owl.carousel/assets/owl.carousel.min.css'%}" rel="stylesheet">
  <link href="{% static 'inicio/vendor/aos/aos.css'%}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'inicio/css/style.css'%}" rel="stylesheet">
 <style>
  /* common */
.ribbon {
  width: 120px;
  height: 120px;
  overflow: hidden;
  position: absolute;
}

.ribbon span {
  position: absolute;
  display: block;
  width: 258px;
  background-color: #0a9396;
  box-shadow: 0 5px 10px rgba(0,0,0,.1);
  color: #fff;
  font: 700 15px/1 'Lato', sans-serif;
  text-shadow: 0 1px 1px rgba(0,0,0,.2);
  text-transform: uppercase;
  text-align: center;
}

/* top left*/
.ribbon-top-left {
  top: -10px;
  left: -10px;
}

.ribbon-top-left span {
  right: -25px;
  top: 30px;
  transform: rotate(-45deg);
}

/* top right*/
.ribbon-top-right {
  top: -5px;
  right: -5px;
}

.ribbon-top-right span {
  left: -37px;
  top: 25px;
  transform: rotate(45deg);
}

/* bottom left*/
.ribbon-bottom-left {
  bottom: -10px;
  left: -10px;
}
.ribbon-bottom-left::before,
.ribbon-bottom-left::after {
  border-bottom-color: transparent;
  border-left-color: transparent;
}
.ribbon-bottom-left::before {
  bottom: 0;
  right: 0;
}
.ribbon-bottom-left::after {
  top: 0;
  left: 0;
}
.ribbon-bottom-left span {
  right: -25px;
  bottom: 30px;
  transform: rotate(225deg);
}

/* bottom right*/
.ribbon-bottom-right {
  bottom: -10px;
  right: -10px;
}
.ribbon-bottom-right::before,
.ribbon-bottom-right::after {
  border-bottom-color: transparent;
  border-right-color: transparent;
}
.ribbon-bottom-right::before {
  bottom: 0;
  left: 0;
}
.ribbon-bottom-right::after {
  top: 0;
  right: 0;
}
.ribbon-bottom-right span {
  left: -25px;
  bottom: 30px;
  transform: rotate(-225deg);
}
 </style>

</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top" >
    <div class="container-fluid d-flex"  >
      <div class="logo mr-auto d-flex">
        <!-- Uncomment below if you prefer to use an image logo -->
        <a href="index.html" data-aos="fade-down"><img src="{% static 'inicio/img/logo-icon.png'%}" alt="" class="img-fluid"></a>
        <h1 class="text-light pl-2"><a href="/"><span>Matrícula Online JCC</span></a></h1>
      </div>

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li class="active"><a href="index.html">Inicio</a></li>
          <li><a href="#about">Nosotros</a></li>
          <li><a href="#services">Cursos</a></li>
          <li><a href="#faq">Ayuda</a></li>
          <li><a href="#clients">Opiniones</a></li>
          <li><a href="#contact">Contáctanos</a></li>

          <li>
            {% if request.user.is_authenticated %}
            <li>
              <a class="btn btn-sm btn-warning " href="{% url 'login:login-user' %}"  >
                Entrar en el sistema
                <i class="icofont-login"></i>
              </a> 
              </li>
            {% else %} 
            <li>
             <a class="btn btn-sm btn-warning p-1 px-2 mt-1 font-weight-bold text-uppercase mr-1"  href="{% url 'login:registrar' %}"  >
                Crear cuenta
                <i class="icofont-plus"></i>
              </a>  
            </li>
            <li>
              <a class="btn btn-sm btn-warning p-1 px-2 mr-1 mt-1 font-weight-bold text-uppercase" style="height: 2rem;" href="{% url 'login:login-user' %}"  >
                Entrar
                <i class="icofont-login"></i>
              </a> 
            </li>
            {% endif %}
          </li>
        </ul>
      </nav><!-- .nav-menu -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center"
    style="background-image: url({% static 'inicio/img/fondo_azul.png'%}); background-size: cover;">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1" >
          <h1 data-aos="fade-right">Ahorra tiempo matriculándote en línea.</h1>
          <h2 data-aos="zoom-in-right">Queremos que tu proceso de matrícula en los cursos presenciales sean rápido y ágil.</h2>
          {% if user.is_authenticated %}
              <a href="{% url 'sitio:enrutador-sistema'%}" data-aos="zoom-in-left" class="btn btn-sm btn-warning p-1 px-3 mt-1 font-weight-bold text-uppercase"><strong>Ver Sistema</strong></a>
            {% else %}
             <span class='d-flex justify-content-start' >
              <a class="btn btn-sm btn-warning p-1 px-3 mt-1 mr-1 font-weight-bold text-uppercase" data-aos="zoom-in-left" href="{% url 'login:registrar' %}"  >
                  Crear cuenta
                  <i class="icofont-plus"></i>
              </a>  
              <a class="btn btn-sm btn-warning p-1 px-3 mt-1 font-weight-bold text-uppercase"  data-aos="zoom-in-left" href="{% url 'login:login-user' %}"  >
                Entrar
                <i class="icofont-login"></i>
              </a> 
            </span> 
            {% endif %}
          
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in-left">
          <span >
            <img src="{% static 'inicio/img/p1.png'%}"  class="img-fluid animated" alt="" style="max-width: 45%;">
          </span>
          <span class='hero-logo' data-aos="fade-left"
                                  data-aos-easing="linear"
                                  >
            <img src="{% static 'img/logan.png'%}" class="img-fluid " alt=""  >
          </span>
        </div>
      </div>
    </div>

  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="row justify-content-between">
          <div class="col-lg-5 d-flex align-items-center justify-content-center about-img">
            <img src="{% static 'inicio/img/about-img.svg'%}" class="img-fluid" alt="" data-aos="zoom-in">
          </div>
          <div class="col-lg-6 pt-5 pt-lg-0">
            <h3 data-aos="fade-up">Joven Club de Computación</h3>
            <p data-aos="fade-up" data-aos-delay="100">
              Somos una organización reconocida por la calidad y el alto valor agregado de los servicios y productos que
              se ofertan. <br> <br>Esta plataforma permite realizar el proceso de <strong> matrícula online para los
                cursos presenciales</strong> que ofertamos.
            </p>
            <div class="row">
              <div class="col-md-6" data-aos="fade-up" data-aos-delay="100">
                <i class="icofont-graduate-alt"></i>
                <h4>Cursos Presenciales</h4>
                <p>Servicio impartido en los locales de las instalaciones de los Joven Club de Computacion y
                  Electrónica.</p>
                
              </div>
              <div class="col-md-6" data-aos="fade-up" data-aos-delay="200">
                <a href="index.html"><img src="{% static 'inicio/img/logoCursad.svg'%}" alt="" class="img-fluid"
                      style="max-height: 3.1rem;"></a>
                <h4>Cursos Online(CURSAD)</h4>
                <p>Sitio Formativo de los Joven Club de Computación y Electrónica de forma online.</p>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services section-bg"
      style="background-image: url({% static 'inicio/img/fondo_azul.png'%}); background-size: cover;">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>CURSOS</h2>
          <p style="color: #ffff;">NUEVOS CURSOS PRESENCIALES EN LOS JOVEN CLUB</p>
        </div>

        <div class="row">
          {% for curso in listado_curso %}
           <div class="col-md-6 col-lg-3 d-flex align-items-stretch" style="height: 330px;" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box p-2 mb-4" style='text-align: start; width: 100%;'>
              <div class="ribbon ribbon-top-right"><span>nuevo</span></div>
              <div class="icon pb-2">
                <img src="{{curso.curso.get_foto}}" alt="" class="img-fluid ml-4 rounded-circle" style='max-width: 60px; height: 60px;box-shadow: 1px 5px 3px rgba(0,0,0,0.25);'>
              </div>
              <h4 class="title text-center mb-1" style="height: 20%;">{{curso.curso.nombre}}</h4>
              <p class="description text-center p-1" style="height: 38%; background-color: #e9d8a6; border-radius: 10px; color:rgb(19, 17, 17)"><strong>{{curso.curso.descripcion}}</strong>
              </p>
              <div class="icon mb-2">
                  <a style='width: 75%;'  class="btn mt-3 btn-sm botones-accion" href="{% url 'prematricula:matricula-page' curso.pk %}">Detalle<img src="{% static 'img/iconos/buscar.png' %}" alt="Ver matricula" width="20px" height="20px" class="ml-2"></a>
                
                  {% qr_crear base_url curso.pk as urlQR_matricula %}
                  <span class='qr_cursos'>
                    {% qr_from_text urlQR_matricula  size=5 error_correction="L" %}
                  </span>
                 
              </div>
            </div>
          </div>
          {% endfor %}
          
          <div class="col-12 p-5">
            <div style="color: #ffff; background-color: #005f7380; border-radius: 10px;font-size: 32px;font-weight: 700;" class='p-4 text-center'>Para matricular necesitas iniciar sección en nuestra
              plataforma.
            <div>
              <span class='d-flex justify-content-center'>
              <a class="btn btn-sm btn-warning p-1 px-3 mt-1 mr-1 font-weight-bold text-uppercase"  href="{% url 'login:registrar' %}"  >
                  Crear cuenta
                  <i class="icofont-plus"></i>
              </a>  
              <a class="btn btn-sm btn-warning p-1 px-3 mt-1 font-weight-bold text-uppercase"  href="{% url 'login:login-user' %}"  >
                Entrar
                <i class="icofont-login"></i>
              </a> 
            </span> 
            </div>
          </div></div>
            
        </div>
    </section><!-- End Services Section -->

    <!-- ======= F.A.Q Section ======= -->
    <section id="faq" class="faq section-bg">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Preguntas y Respuestas</h2>
          <p>Respuestas a las principales preguntas de usuarios.</p>
        </div>
      <div class="row">
        <div class="col-12 col-lg-8 col-sm-8">
          <ul class="faq-list">
  
            <li data-aos="fade-up" data-aos-delay="100">
              <a data-toggle="collapse" class="" href="#faq1">¿Cuanto cuestan los cursos ? <i
                  class="icofont-simple-up"></i></a>
              <div id="faq1" class="collapse show" data-parent=".faq-list">
                <p>
                  Para las <strong>personas naturales</strong> este servicio se brinda de manera <strong>gratuita</strong>. Personas jurídicas a 60 pesos
                  por hora.
                </p>
              </div>
            </li>
  
            <li data-aos="fade-up" data-aos-delay="200">
              <a data-toggle="collapse" href="#faq2" class="collapsed">¿Cuanto duran los cursos? <i
                  class="icofont-simple-up"></i></a>
              <div id="faq2" class="collapse" data-parent=".faq-list">
                <p>
                  Los cursos regulares tienen como mínimo una duración de <strong>24 horas</strong> y se clasifican
                  atendiendo a su
                  duración y profundización en: <br> a)<strong>Cursos cortos</strong>, comprenden una duración de
                  <strong>24 horas</strong> y <strong>36 horas</strong> y se imparten exclusivamente en la
                  modalidad presencial. <br> b)<strong>Cursos largos</strong>, comprenden de <strong>48 horas</strong>,
                  <strong>64 horas</strong> y más de <strong>96 horas</strong>, se imparten en las tres modalidades,
                  presencial, semipresencial y a distancia.
                </p>
              </div>
            </li>
  
            <li data-aos="fade-up" data-aos-delay="300">
              <a data-toggle="collapse" href="#faq3" class="collapsed">¿Como realizo la matrícula? <i
                  class="icofont-simple-up"></i></a>
              <div id="faq3" class="collapse" data-parent=".faq-list">
                <p>
                  <ul>
                    <li>1. Debe crearte una cuenta para acceder a nuestra plataforma.<a href="#about" class="btn btn-sm btn-warning p-1 px-3 mt-1 font-weight-bold text-uppercase"
                        ><strong>Crear cuenta</strong></a> </li>
                    <li>2. Accede a la plataforma con tu usuario y contraseña.<a href="#about" class="btn btn-sm btn-warning p-1 px-3 mt-1 font-weight-bold text-uppercase"
                       ><strong>Iniciar sección</strong></a></li>
                    <li>3. Es necesario completar tu perfil para poder matricularte en los cursos..</li>
                    <li>4. Elige de los cursos que estan disponible en los Joven Club cual es de su interés.</li>
                    <li>5. Ya puedes hacer la matrícula.</li>
                  </ul>
                </p>
              </div>
            </li>
  
            <li data-aos="fade-up" data-aos-delay="400">
              <a data-toggle="collapse" href="#faq4" class="collapsed">¿Al terminar el curso te dan un certificado o
                diploma? <i class="icofont-simple-up"></i></a>
              <div id="faq4" class="collapse" data-parent=".faq-list">
                <p>
                  <strong>Se certifican todos los cursos</strong> ofrecidos en las instalaciones de Joven Club de Computación y
                  Electrónica, una vez concluido estos, mediante el certificado que genera el Módulo de Control de
                  Servicios; la
                  entrega del certificado la garantiza el jefe máximo de cada estructura o unidad organizativa.
                </p>
              </div>
            </li>
  
            <li data-aos="fade-up" data-aos-delay="500">
              <a data-toggle="collapse" href="#faq5" class="collapsed">¿Que hago si tengo alguna duda con un curso? <i
                  class="icofont-simple-up"></i></a>
              <div id="faq5" class="collapse" data-parent=".faq-list">
                <p>
                  Puede contactarnos y plantearnos su duda por diferentes vias: <br> <br>
                  Mediante el formulario de contacto. <a href="#contact" class="btn btn-sm btn-warning p-1 px-3 mt-1 font-weight-bold text-uppercase"><strong>Contactar</strong></a>
                  <br> Cada curso tiene la posibilidad de interactuar con sus profesores y poder aclarar algunas dudas.
                </p>
              </div>
            </li>
  
            <li data-aos="fade-up" data-aos-delay="600">
              <a data-toggle="collapse" href="#faq6" class="collapsed">No encuentro cursos de mi interés. ¿Puedo sugerir
                algun curso? <i class="icofont-simple-up"></i></a>
              <div id="faq6" class="collapse" data-parent=".faq-list">
                <p>
                  En nuestra plataforma usted puede sugerir algun curso que no esté contemplado en el programa del Joven
                  Club de su interés. <br>
                  Nuestros especialistas analizarán y valorarán el interés de otros estudiantes a su sugerencia. El curso
                  se avilita si hay algunos estudiantes interesado y el Joven Club disponga del personal docente necesario
                  para su realización.
                </p>
              </div>
            </li>
  
          </ul>
        </div>
        <div class="col-4 ">
         <img src="{% static 'img/iconos/pregunta.png' %}" alt="preguntas y respuestas" width="70%" data-aos="fade-left">
        </div>
      </div>

      </div>
    </section><!-- End F.A.Q Section -->

    <!-- ======= Clients Section ======= -->
    <section id="clients" class="clients section-bg"
      style="background-image: url({% static 'inicio/img/fondo_azul.png'%});">
      <div class="container">
        <div class="section-title" data-aos="fade-up">
          <h2>Testimonios</h2>
          <p style="color: #ffff;">Estudiantes Opinan</p>
        </div>
        <div class="gtco-testimonials" data-aos="zoom-out-up">

          <div class="owl-carousel owl-carousel1 owl-theme">
            <div>
              <div class="card text-center"><img class="card-img-top" src="{% static 'inicio/img/team/team-1.jpg'%}"
                  alt="">
                <div class="card-body">
                  <h5>Ernesto Lopez <br />
                    <span></span>
                  </h5>
                  <p class="card-text">“ He tenido una buena experiencia matriculandome en los cursos con esta
                    plataforma.  ” </p>
                </div>
              </div>
            </div>
            <div>
              <div class="card text-center"><img class="card-img-top" src="{% static 'inicio/img/team/team-2.jpg'%}"
                  alt="">
                <div class="card-body">
                  <h5>Alba Rosa<br />
                    <span> </span>
                  </h5>
                  <p class="card-text">“ Aprendrí mucho con estos cursos, en especial "Aprendiendo Python". ” </p>
                </div>
              </div>
            </div>
            <div>
              <div class="card text-center"><img class="card-img-top" src="{% static 'inicio/img/team/team-3.jpg'%}"
                  alt="">
                <div class="card-body">
                  <h5>Juan Verdecia<br />
                    <span> </span>
                  </h5>
                  <p class="card-text">“ Al principio no tenía buena prepectiva, pero me ha facinado lo bien que me fue.
                    ” </p>
                </div>
              </div>
            </div>
            <div>
              <div class="card text-center"><img class="card-img-top" src="{% static 'inicio/img/team/team-4.jpg'%}"
                  alt="">
                <div class="card-body">
                  <h5>Odelsi Pastrana<br />
                    <span></span>
                  </h5>
                  <p class="card-text">“ Un amigo me lo recomendó y fue una buena experiencia. ” </p>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Clients Section -->

    <!-- ======= Contact Us Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>CONTÁCTENOS</h2>
          <p>Estamos para servirle.</p>
        </div>

        <div class="row">

          <div class="col-lg-5 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
            <div class="info">
              <div class="address">
                <i class="icofont-google-map"></i>
                <h4>Dirección:</h4>
                <p>Marti # 375 / Perdom y Aranguren, Regla , La habana ,Cuba</p>
              </div>

              <div class="email">
                <i class="icofont-envelope"></i>
                <h4>Correo:</h4>
                <p>regla@cha.jovenclub.cu</p>
              </div>

              <div class="phone">
                <i class="icofont-phone"></i>
                <h4>Telefóno:</h4>
                <p>7797-87-87</p>
              </div>

              <!--<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621" frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen></iframe> -->
            </div>

          </div>

          <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
            <form action="#" method="post" role="form" class="php-email-form">
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="name">Su Nombre</label>
                  <input type="text" name="name" class="form-control" id="name" />
                  <div class="validate"></div>
                </div>
                <div class="form-group col-md-6">
                  <label for="name">Su Correo</label>
                  <input type="email" class="form-control" name="email" id="email" data-rule="email"
                    data-msg="Por favor entre un correo válido." />
                  <div class="validate"></div>
                </div>
              </div>
              <div class="form-group">
                <label for="name">Asunto</label>
                <input type="text" class="form-control" name="subject" id="subject" data-rule="minlen:4"
                  data-msg="El asunto debe ser más de 4 caracteres." />
                <div class="validate"></div>
              </div>
              <div class="form-group">
                <label for="name">Mensaje</label>
                <textarea class="form-control" name="message" rows="10" data-rule="required"
                  data-msg="Por favor es requerido escribir un mensaje."></textarea>
                <div class="validate"></div>
              </div>

              <div class="text-center"><button type="submit"
                  style="background-color: #ffc107; color: #ffff;"><strong>Enviar</strong></button></div>
            </form>
          </div>

        </div>

      </div>
    </section><!-- End Contact Us Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-newsletter pt-3" data-aos="fade-up" style="background-color: #449ad2;">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12">
            <h4 style="color: #ffff;">OTROS SERVICIOS DE LOS JOVEN CLUB.</h4>
            <div class="row mt-1 justify-content-around">
              <div class="otros_servicios d-flex flex-column">
                    <a href="http://mochila.cubava.cu/">
                      <img src="{% static 'img/iconos/mochila.png' %}" alt="Mochila Series Novelas Educacion Cuba Joven Club de Computacion" width='150px' height='70px'>
                    </a>
                    <span>Mochila</span>
              </div>
              
              <div class="otros_servicios d-flex flex-column">
                <a href="https://www.ecured.cu/">
                  <img src="{% static 'img/iconos/ecured.jpg' %}" alt="Ecured Cuba Joven Club de Computacion"  width='70px' height='70px'>
                </a>
                <span>Ecured</span>
              </div>
              
              <div class="otros_servicios d-flex flex-column">
                <a href="https://tendedera.cubava.cu/">
                  <img src="{% static 'img/iconos/tendedera.png' %}" alt="Tendedera red social Cuba Joven Club de Computacion"  width='70px' height='70px'>
                </a>
                <span>Tendedera</span>
              </div>
              
              <div class="otros_servicios d-flex flex-column">
                <a href="https://revista.jovenclub.cu/">
                  <img src="{% static 'img/iconos/tino.png' %}" alt="Revista Tino Cuba Joven Club de Computacion"  width='150px' height='70px'>
                </a>
                <span>Tino</span>
              </div>
              
              <div class="otros_servicios d-flex flex-column">
                <a href="http://ludox.cubava.cu/">
                  <img src="{% static 'img/iconos/ludox.png' %}" alt="Ludox Videojuegos Cuba Joven Club de Computacion"  width='150px' height='70px'>
                </a>
                <span>Ludox</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact" data-aos="fade-up" data-aos-delay="100">
            <h3>Matrícula Online Joven Club</h3>
            <p>
              Marti #237 / Agramonte y Aranguren.<br>
              Regla, La Habana<br>
              Cuba <br><br>
              <strong>Teléfono:</strong> 7797-87-87<br>
              <strong>Correo:</strong> regla@cha.jovenclub.cu<br>
            </p>
          </div>

          <div class="col-lg-3 col-md-6 footer-links" data-aos="fade-up" data-aos-delay="200">
            <h4>Mapa del sitio</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Inicio</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Sobre nosotros</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Cursos</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Preguntas y Respuestas</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Estudiantes opinan</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links" data-aos="fade-up" data-aos-delay="300">
            <h4>Sitios de interés</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Joven Club Nacional</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Joven Club La Habana</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Cursad(Cursos online)</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Ecured</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Mochila</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links" data-aos="fade-up" data-aos-delay="400">
            <h4>Nuestras redes sociales</h4>
            <p>Para mas información puede seguirnos en:</p>
            <div class="social-links mt-3">
              <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
              <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
              <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
              <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
              <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
            </div>
          </div>

        </div>
      </div>
    </div>


  </footer><!-- End Footer -->

  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'inicio/vendor/jquery/jquery.min.js'%}"></script>
  <script src="{% static 'inicio/vendor/bootstrap/js/bootstrap.bundle.min.js'%}"></script>
  <script src="{% static 'inicio/vendor/jquery.easing/jquery.easing.min.js'%}"></script>
  <!-- <script src="assets/vendor/php-email-form/validate.js"></script>-->
  <script src="{% static 'inicio/vendor/isotope-layout/isotope.pkgd.min.js'%}"></script>
  <script src="{% static 'inicio/vendor/venobox/venobox.min.js'%}"></script>
  <script src="{% static 'inicio/vendor/owl.carousel/owl.carousel.min.js'%}"></script>
  <script src="{% static 'inicio/vendor/aos/aos.js'%}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'inicio/js/main.js'%}"></script>

</body>

</html>