{% load humanize%}
{% load static %}
{% load filterCustom %}

<div class="row">
    <div class="col-md-4">
        <!-- Profile Image -->
        <div class="card card-primary card-outline">
            <div class="card-body box-profile">
                <!--"/static/lib/adminlte-master/img/user2-160x160.jpg"-->
                <div class="text-center">
                    <img class="profile-user-img img-fluid img-circle" src="{{object.usuario.perfil.get_image}}"
                        alt="User profile picture">
                </div>

                <h3 class="profile-username text-center"></h3>

                <p class="text-perfil text-center">
                    <i class="fas fa-user text-success"></i> - {{object.usuario.username}} </p>
                <ul class="list-group list-group-unbordered mb-3">
                    <li class="list-group-item pt-2 pb-2">
                        <small><b>Correo:</b></small>
                        <div>{{object.usuario.perfil.correo}}</div>
                    </li>
                    <li class="list-group-item pt-2 pb-2">
                        <small><b>Carnet Identidad:</b></small>
                        <div>{{object.usuario.perfil.ci}}</div>
                    </li>
                    <li class="list-group-item pt-2 pb-2">
                        <small><b>Sistema:</b></small>
                        <div>
                            {% if object.usuario.is_active%}
                            <span class='text-success'>Tiene acceso al sistema</span>
                            {%else%}
                            <span class='text-danger'>No tiene acceso al sistema</span>
                            {% endif %}
                        </div>
                    </li>
                    <li class="list-group-item pt-2 pb-2">
                        <small><b>Último acceso:</b></small>
                        <div>
                            <i class="far fa-clock mr-1"></i>
                            {% if object.usuario.last_login%}
                            {{object.usuario.last_login|naturaltime}}
                            {%else%}
                            No ha entrado al sistema.
                            {% endif%}
                        </div>
                    </li>
                </ul>
                <a class="btn btn-secondary btn-sm btn-block" href="#"><i class="far fa-comments mr-2"></i>Contactar
                    usuario</a>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
    <!-- /.col -->
    <div class="col-md-8">
        <div class="card">
            <div class="card-header p-2" style="font-size: smaller;">
                <ul class="nav nav-pills">
                    <li class="nav-item"><a class="nav-link active" id="nav_perfil" href="#perfil" data-toggle="tab"><i
                                class="fas fa-user"></i> Perfil</a></li>
                    <li class="nav-item"><a class="nav-link" id="nav_jovenClub" href="#jovenClub" data-toggle="tab"><i
                                class="fa fa-address-card"></i> Joven Club Municipal </a></li>
                    <li class="nav-item"><a class="nav-link" id="nav_conocimiento" href="#conocimiento" data-toggle="tab"><i
                                class="fas fa-bullhorn"></i> Habilidad <span
                                class="badge badge-warning">3</span></a></li>
                    {% if request.user|has_group:"Admin" %} 
                        <li class="nav-item"><a class="nav-link" id="nav_trazas" href="#trazas" data-toggle="tab"><i
                                class="fas fa-bullhorn"></i> Trazas </a></li>
                    {% endif %}
                </ul>
            </div><!-- /.card-header -->
            <div class="card-body">
                <div class="tab-content">
                    <div class="tab-pane active" id="perfil">
                        <div class="card">
                            <div class="card-header p-1 px-2">
                                <div>
                                    <span>Datos</span>
                                </div>
                            </div>
                            <div class="card-body p-2">
                                <div class="card card-info card-outline">
                                      <div class="card-header p-1">
                                          <strong class="">Nombre:</strong>
                                          <div class="card-tools px-3">
                                          {{object.usuario.perfil.nombre}}
                                          </div>
                                      </div>
                                </div>
                                <div class="card card-info card-outline">
                                      <div class="card-header p-1">
                                          <strong class="">Appellidos:</strong>
                                          <div class="card-tools px-3">
                                          {{object.usuario.perfil.apellido1}} {{object.usuario.perfil.apellido2}}
                                          </div>
                                      </div>
                                </div>
                                <div class="card card-info card-outline">
                                      <div class="card-header p-1">
                                          <strong class="">Teléfono:</strong>
                                          <div class="card-tools px-3">
                                         {{object.usuario.perfil.telefono}}
                                          </div>
                                      </div>
                                </div>
                                <div class="card card-info card-outline mb-1">
                                      <div class="card-header p-1">
                                          <strong class="">Ususario Siscae:</strong>
                                          <div class="card-tools px-3">
                                          {% if object.usuario_sisce%}
                                              {{object.usuario_sisce}}
                                          {%else%}
                                              no tiene
                                          {% endif %}
                                          </div>
                                      </div>
                                </div>
                            </div>
                        </div>
                        <div class="card mb-1">
                            <div class="card-header p-1 px-2">
                                <div>
                                    <span>Localización</span>
                                </div>
                            </div>
                            <div class="card-body p-2">
                                <div class="card card-info card-outline">
                                      <div class="card-header p-1">
                                          <strong class="">Dirección:</strong>
                                          <div class="card-tools px-3">
                                         {{object.usuario.perfil.direccion}}
                                          </div>
                                      </div>
                                </div>
                                <div class="card card-info card-outline">
                                      <div class="card-header p-1">
                                          <strong class="">Provincia:</strong>
                                          <div class="card-tools px-3">
                                         {{object.usuario.perfil.municipio.provincia.nombre}}
                                          </div>
                                      </div>
                                </div>
                                <div class="card card-info card-outline mb-1">
                                      <div class="card-header p-1">
                                          <strong class="">Municipio:</strong>
                                          <div class="card-tools px-3">
                                        {{object.usuario.perfil.municipio.nombre}}
                                          </div>
                                      </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.tab-pane -->
                    <div class="tab-pane" id="jovenClub">
                               <div class="card">
                                   <div class="card-body p-0">
                                        <ul class="list-group list-group-unbordered mb-0">
                                            <li class="list-group-item pr-3 pl-3 bg-light">
                                                <small> <b>Joven Club Provincial:</b></small>
                                                <div class="text-right">{{object.jcm.region.jcp.entidad.nombre}}</div>
                                            </li>
                                            <li class="list-group-item pr-3 pl-3">
                                                <small><b>Región:</b></small>
                                                <div class="text-right">{{object.jcm.region.nombre}}
                                                </div>
                                            </li>

                                            <li class="list-group-item pr-3 pl-3 bg-light">
                                                <small> <b>Joven Club Municipal:</b></small>
                                                <div class="text-right">{{object.jcm.entidad.nombre}}
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                               </div>
                    </div>
                    <!-- /.tab-pane -->

                    <div class="tab-pane" id="conocimiento">
                     
                                <div class="info-box mb-3 bg-info p-0">
                                    <span class="info-box-icon"><img src="{% static 'img/icon-cursos/python.png' %}" alt="Curso Python Joven Club Cuba" class='img-size-32'></span>
                                    <div class="info-box-content">
                                        <span class="info-box-text p-2">Photoshop<span class='float-right bg-gradient-info px-3 elevation-2' style='border-radius:3px'>Basico</span></span>
                                    </div>
                                </div>
                                <div class="info-box mb-3 bg-light p-0">
                                    <span class="info-box-icon"><img src="{% static 'img/icon-cursos/python.png' %}" alt="Curso Python Joven Club Cuba" class='img-size-32'></span>
                                    <div class="info-box-content">
                                        <span class="info-box-text p-2">Photoshop<span class='float-right bg-gradient-light px-3 elevation-2' style='border-radius:3px'>Basico</span></span>
                                    </div>
                                </div>
                                <div class="info-box mb-3 bg-info p-0">
                                    <span class="info-box-icon"><img src="{% static 'img/icon-cursos/python.png' %}" alt="Curso Python Joven Club Cuba" class='img-size-32'></span>
                                    <div class="info-box-content">
                                        <span class="info-box-text p-2">Photoshop<span class='float-right bg-gradient-info px-3 elevation-2' style='border-radius:3px'>Basico</span></span>
                                    </div>
                                </div>
                                <div class="info-box mb-3 bg-light p-0">
                                    <span class="info-box-icon"><img src="{% static 'img/icon-cursos/python.png' %}" alt="Curso Python Joven Club Cuba" class='img-size-32'></span>
                                    <div class="info-box-content">
                                        <span class="info-box-text p-2">Photoshop<span class='float-right bg-gradient-light px-3 elevation-2' style='border-radius:3px'>Avanzado</span></span>
                                    </div>
                                </div>
                                <div class="info-box mb-3 bg-info p-0">
                                    <span class="info-box-icon"><img src="{% static 'img/icon-cursos/python.png' %}" alt="Curso Python Joven Club Cuba" class='img-size-32'></span>
                                    <div class="info-box-content">
                                        <span class="info-box-text p-2">Photoshop<span class='float-right bg-gradient-info px-3 elevation-2' style='border-radius:3px'>Basico</span></span>
                                    </div>
                                </div>
                           
                    </div>
                {% if request.user|has_group:"Admin" %} 
                    <div class="tab-pane" id="trazas">
                            <div class="timeline">
                            <!-- timeline time label -->
                            <div class="time-label">
                                <span class="bg-red">20 Oct. 2021</span>
                            </div>
                            <!-- /.timeline-label -->
                            <!-- timeline item -->
                            <div>
                                <i class="fas fa-envelope bg-blue"></i>
                                <div class="timeline-item">
                                    <span class="time"><i class="fas fa-clock"></i> 12:05</span>
                                    <h3 class="timeline-header">Mandó un mensaje a <strong>Centro de Ayuda</strong></h3>

                                    <div class="timeline-body">
                                        Hola estoy necesitado de ver porque no se me muestran los curso.
                                    </div>
                                </div>
                            </div>
                            <!-- END timeline item -->
                            <!-- timeline item -->
                            <div>
                                <i class="fas fa-graduation-cap bg-green"></i>
                                <div class="timeline-item">
                                <span class="time"><i class="fas fa-clock"></i> 5 mins ago</span>
                                <h3 class="timeline-header no-border">Matriculado en el curso<a href="#">Aprendiendo Django</a></h3>
                                </div>
                            </div>
                            <!-- END timeline item -->
                            <!-- timeline item -->
                            <div>
                                <i class="fas fa-comments bg-yellow"></i>
                                <div class="timeline-item">
                                    <span class="time"><i class="fas fa-clock"></i> 27 mins ago</span>
                                    <h3 class="timeline-header">Chat con maestro <a href="#">Maria Garcia</a></h3>
                                    <div class="timeline-body">
                                        Hola profe tengo una pregunta.
                                        Pudieran ser 3 frecuencias a la semana?
                                    </div>
                                </div>
                            </div>
                            <!-- END timeline item -->
                            <!-- timeline time label -->
                            <div class="time-label">
                                <span class="bg-green">15 Oct. 2021</span>
                            </div>
                            <!-- /.timeline-label -->
                            <!-- timeline item -->
                            <div>
                                <i class="fa fa-thumbs-up bg-info"></i>
                                <div class="timeline-item">
                                    <span class="time"><i class="fas fa-clock"></i> 2 days ago</span>
                                    <h3 class="timeline-header">Le gusta el curso <a href="#">Ecured para principiantes</a></h3>
                                </div>
                            </div>
                            <!-- END timeline item -->
                    </div>
                </div>
                {% endif %}

                
                </div>
                <!-- /.tab-content -->
            </div><!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
    <!-- /.col -->
</div>
<!-- /.row -->