{% load widget_tweaks %}
<div class="row">
      <div class="col-12 col-sm-6 col-lg-4">
        <div class="form-group">
          {{form_perfil.nombre.label_tag}}
          {{form_perfil.nombre|add_class:'form-control form-control-sm'|attr:'autocomplete:off'}}
        </div>
      </div>
      <div class="col-12 col-sm-6 col-lg-4">
        <div class="form-group">
          {{form_perfil.apellido1.label_tag}}
          {{form_perfil.apellido1|add_class:'form-control form-control-sm'|attr:'autocomplete:off'}}
        </div>
      </div>
      <div class="col-12 col-sm-6 col-lg-4">
        <div class="form-group">
          {{form_perfil.apellido2.label_tag}}
          {{form_perfil.apellido2|add_class:'form-control form-control-sm'|attr:'autocomplete:off'}}
        </div>
      </div>
      <div class="col-12 col-sm-6 col-lg-4">
        <div class="form-group">
          {{form_perfil.ci.label_tag}}
          {{form_perfil.ci|add_class:'form-control form-control-sm'|attr:'autocomplete:off'}}
        </div>
      </div>
      <div class="col-12 col-sm-6 col-lg-4">
        <div class="form-group">
          {{form_user.username.label_tag}}
          {{form_user.username|add_class:'form-control form-control-sm'|attr:'autocomplete:off'}}
        </div>
      </div>
      <div class="col-12 col-sm-6 col-lg-4">
        <div class="form-group">
          {{form_perfil.correo.label_tag}}
          {{form_perfil.correo|add_class:'form-control form-control-sm'|attr:'autocomplete:off'}}
        </div>
      </div>
      <div class="col-12 col-sm-6 col-lg-4">
        <div class="form-group">
          {{form_perfil.telefono.label_tag}}
          {{form_perfil.telefono|add_class:'form-control form-control-sm'|attr:'autocomplete:off'}}
        </div>
      </div>
      <div class="col-12 col-sm-6 col-lg-4">
        <div class="form-group">
          {{form_perfil.provincia.label_tag}}
          {{form_perfil.provincia|add_class:'form-control form-control-sm'|attr:'autocomplete:off'}}
        </div>
      </div>
       <div class="col-12 col-sm-6 col-lg-4">
        <div class="form-group">
          <label for="id_municipio">Municipio</label>
          <select  class='select2 form-control form-control-sm' name="municipio" id="id_municipio" required></select>
        </div>
      </div>
      
      <div class="col-12">
        <div class="form-group">
          {{form_perfil.direccion.label_tag}}
          {{form_perfil.direccion|add_class:'form-control form-control-sm'|attr:'autocomplete:off'}}
        </div>
      </div>
       <div class="col-12 col-sm-6 col-lg-4">
        <div class="form-group">
          <label for="id_jcp">JCC Provincial</label>
          {{form_gestor.jcp|add_class:'form-control form-control-sm'|attr:'autocomplete:off'}}
        </div>
      </div>
      <div class="col-12 col-sm-6 col-lg-4">
        <div class="form-group">
          <label for="id_region">Región</label>
          <select  class='select2 form-control form-control-sm' name="region" id="id_region" ></select>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-lg-4">
        <div class="form-group">
          <label for="id_jcm">JCC Municipal</label>
          <select class='select2 form-control form-control-sm' name="jcm" id="id_jcm" ></select>
        </div>
      </div>
      {% if request.user.is_staff %}
      <div class="col-12 col-sm-6 col-lg-4">
        <div class="form-group pt-4">
          <span><strong class="mr-4">Activo:</strong>{{form_user.is_active|add_class:'form-check-input'|attr:'autocomplete:off'}}</span>
        </div>
      </div>
       {% endif %}
</div>
