{% extends 'element_comun/list.html' %} {% load static %} {% load widget_tweaks %}
{% load filterCustom %}
{% block head_list %}
<link rel="stylesheet" href="{% static 'lib/select2-4.0.13/css/select2.min.css'%}" />
<link rel="stylesheet" href="{% static 'lib/select2-4.0.13/css/select2-bootstrap4.min.css'%}" />
<style>
  #campos_formulario label{
    margin-bottom: 0px;
  }
   /* esto es para que no se salga el texto largo de la tabla */
  .table.dataTable.nowrap th, table.dataTable.nowrap td{
    white-space: inherit !important;
  }
  table.dataTable.dtr-inline.collapsed > tbody > tr[role="row"] > td:first-child::before, table.dataTable.dtr-inline.collapsed > tbody > tr[role="row"] > th:first-child::before{
    z-index: 50;
  }
  .badge-curso-listar{
   top:0px !important;
   box-shadow: 1px 3px 5px -2px #3f474e; 
  }
  a .badge-curso-listar:hover{
      background-color: #346373;
      font-weight: 800;
  }
  .badge-curso-listar-estado{
    position: absolute;
    top: 1px !important;
    left: -16px;
    font-size: 0.7rem;
    border-radius: 4px;
    padding: 0px 2px;
    box-shadow: 1px 3px 5px -2px #3f474e; 
    transform: rotate(-45deg);
    width: 5rem;
    letter-spacing: 0.1rem;
  }
      
  #conocimiento .info-box{
    min-height: 0px !important;
  }
  @media (max-width:674px){
      #resumen_busqueda{
        margin: 0 auto;
        display: grid;
        grid-gap: 1rem;
        grid-template-columns: repeat(4, 1fr);
      }
  }
  @media (max-width:464px){
      #resumen_busqueda{
        margin: 0 auto;
        display: grid;
        grid-gap: 1rem;
        grid-template-columns: repeat(2, 1fr);
      }
       .badge-curso-listar{
         opacity: 0;
          }
  }
  .info-prematricula-tabla{
    background-color: #343a401c;
    border-radius: 10px;  
  }
   .info-prematricula-tabla dl{
    margin-bottom: 0px!important;
  }
  .badge-tabla{
    position: absolute;
    font-size: 0.5rem;
    top: -6px;
  }

  .select2-container {
    background-color: #fff;
  }

  .modal-header {
    padding: 0.5rem 1.2rem !important;
  }
  #data td{
     padding: 1px!important;
  }
  .modal-body {
    padding: 0 1rem;
  }

  .select2-container--bootstrap4 .select2-selection--single {
    height: calc(1.8125rem + 2px) !important;
  }
  .modal-body .card {
    background-color: #fff;
  }
  .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    background-color: #26bdef;
  } 
  .nav-link.active:hover{
    color: #dad6d6 !important;
  } 
  .modal a:hover{
    color: #26bdef !important;
  }
  .list-group-item{
    padding: 0;
    
  }
  .modal-footer{
    padding-top: 0 !important;
  }
  #badge_frecuencia_interes{
    position: absolute;
    margin-left: 0.2rem;
  }
  
#tb-interes_info,#tb-matriculado_info{
  padding-top: 2rem;
}
#tb-interes_paginate,#tb-matriculado_paginate{
  margin: -0.5rem;
}


.pagination{
  font-size: smaller;
}
</style>
{% endblock %}
{% block columns %}
<tr>
  <th style="width:95%;">Matricula</th>
  <th></th>
  <th></th>
  <th></th>
  <th></th>
  <th ></th>
  <th ></th>
  <th ></th>
  <th ></th>
  <th ></th>
  <th ></th>
  <th ></th>
  <th ></th>
  <th ></th>
  <th ></th>
  <th ></th>
  <th ></th>
  <th ></th>
  <th ></th>

  <!-- {% if perms.preMatricula.view_prematricula %} -->
  <th style="width:5%;">Acción</th>
  <!-- {%endif%} -->
</tr>
{% endblock %}

{% block busqueda %}

    <div id='card_busqueda' class="card collapsed-card mb-1">
            <div class="card-header p-0 pl-2 py-1">
                <div class="card-title">
                    <small><i class="fa fa-search pr-2"></i>Busqueda: <span class='text-black-50' id='resumen_busqueda'>Todos</span></small>
                </div>
                <div class="card-tools pr-4">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                        <i class="fas fa-plus"></i>
                    </button>
                </div>
            </div>
            <div class="card-body p-2">
              <form action="" id='form_busqueda'>
                <div class="row">
                  <div class="col-12 col-sm-6 col-lg-4">
                    <div class="form-group mb-0">
                       <label for="id_curso_busqueda" class='m-0'>Curso:</label>
                      {{form_matricula.curso|add_class:'form-control form-control-sm select2'|attr:'autocomplete:off'|attr:'name:"nombre"'|attr:'id:id_curso_busqueda'}}
                    </div>
                  </div>
                    <div class="col-12 col-sm-6 col-lg-4">
                      <div class="form-group m-0">
                        <label for="id_jcp_busqueda" class='m-0'>JCC Provincial</label>
                        {{form_matricula.jcp|add_class:'form-control form-control-sm'|attr:'autocomplete:off'|attr:'id:id_jcp_busqueda'}}
                      </div>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-4">
                      <div class="form-group m-0">
                        <label for="id_region_busqueda" class='m-0'>Región</label>
                        <select  class='select2 form-control form-control-sm' name="region" id="id_region_busqueda" ></select>
                      </div>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-4">
                      <div class="form-group m-0">
                        <label for="id_jcm_busqueda" class='m-0'>JCC Municipal</label>
                        <select class='select2 form-control form-control-sm' name="jcm" id="id_jcm_busqueda" ></select>
                      </div>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-4">
                      <div class="form-group m-0">
                        <label for="id_jcb_busqueda" class='m-0' >JCC Base</label>
                        <select class='select2 form-control form-control-sm' name="jcb" id="id_jcb_busqueda" required></select>
                      </div>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-4">
                      <div class="form-group m-0">
                         <label for="id_horas_busqueda" class='m-0' >Horas Clases</label>
                          <select class='select2 form-control form-control-sm' name="horas" autocomplete="off" class="form-check-input" id="id_horas_busqueda" >
                            <option value=''>------</option>
                            <option value='24'>24 Horas</option>
                            <option value='36'>36 horas</option>
                            <option value='64'>64 horas</option>
                          </select></span>
                      </div>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-4">
                      <div class="form-group m-0">
                        <label for="id_desde_busqueda" class='m-0' >Fecha Inicio - Desde</label>
                        <input type="date" class='form-control form-control-sm' name="desde" id="id_desde_busqueda" ></input>
                      </div>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-4">
                      <div class="form-group m-0">
                        <label for="id_hasta_busqueda" class='m-0' >Hasta</label>
                        <input type="date" class='form-control form-control-sm' name="hasta" id="id_hasta_busqueda" ></input>
                      </div>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-4">
                      <div class="form-group m-0">
                        <label for="id_estado_busqueda" class='m-0' >Estado</label>
                          <select class='select2 form-control form-control-sm' name="estado" autocomplete="off" class="form-check-input" id="id_estado_busqueda" >
                            <option value='TD'>todos</option>
                            <option value='AB'>abierto</option>
                            <option value='CE'>cerrado</option>
                            <option value='PR'>en proceso</option>
                          </select></span>
                      </div>
                    </div>
                     {% if not request.user|has_group:"Estudiante" %} 
                     <div class="col-12">
                      <div class="form-group mb-0">
                        <label for="id_profesor_busqueda" class='mb-0'>Profesores</label>
                      <select class='select2 form-control form-control-sm' name="profesor" id="id_profesor_busqueda" multiple='multiple' required aria-placeholder="sdasdasd"></select>
                      </div>
                    </div>
                  {% endif %}
                </div>
              </div>
              <!-- /.card-body -->
              <div class="card-footer p-2">
                <button id='buscar_btn' class="btn btn-primary btn-xs">
                  Realizar Busqueda<i class="fa fa-search pl-2"></i>
                </button>
                <button  id='cancelar_buscar_btn' class="btn btn-danger btn-xs">
                  Cancelar y Mostrar Todos<i class="fa fa-trash-alt ml-1"></i>
                </button>
              </div>
            </form>
        </div>
{% endblock %}

{% block boton_accion%}
{{ municipio_gestor|json_script:"municipio_gestor" }}
{{ region_gestor|json_script:"region_gestor" }}
{{ provincia_gestor|json_script:"provincia_gestor" }}
{{ datos_maestro|json_script:"datos_maestro" }}
{% endblock%}

{%block class_modal%}modal-lg{% endblock %}
{%block form_modal%}
 <div class="row" id='campos_formulario'>
      <div class="col-12 col-sm-6 col-lg-6">
        <div class="form-group mb-0">
          {{form_matricula.curso.label_tag}}
          {{form_matricula.curso|add_class:'form-control form-control-sm select2'|attr:'autocomplete:off'}}
        </div>
      </div>
      <div class="col-12 col-sm-3 col-lg-3">
        <div class="form-group mb-0">
          {{form_matricula.capacidad.label_tag }}
          {{form_matricula.capacidad|add_class:'form-control form-control-sm '|attr:'autocomplete:off'}}
        </div>
      </div>
      <div class="col-12 col-sm-3 col-lg-3">
        <div class="form-group mb-0">
          {{form_matricula.frecuencia.label_tag}}
          {{form_matricula.frecuencia|add_class:'form-control form-control-sm '|attr:'autocomplete:off'}}
        </div>
      </div>
      <div class="col-12 col-sm-6 col-lg-4">
        <div class="form-group mb-0">
          <label for="id_jcp" class='mb-0'>JCC Provincial</label>
          {{form_matricula.jcp|add_class:'form-control form-control-sm'|attr:'autocomplete:off'}}
        </div>
      </div>
      <div class="col-12 col-sm-6 col-lg-4">
        <div class="form-group mb-0">
          <label for="id_region" class='mb-0'>Región</label>
          <select  class='select2 form-control form-control-sm' name="region" id="id_region" ></select>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-lg-4">
        <div class="form-group mb-0">
          <label for="id_jcm" class='mb-0'>JCC Municipal</label>
          <select class='select2 form-control form-control-sm' name="jcm" id="id_jcm" ></select>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-lg-4">
        <div class="form-group mb-0">
          <label for="id_jcb" class='mb-0'>JCC Base</label>
          <select class='select2 form-control form-control-sm' name="jcb" id="id_jcb" required></select>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-lg-4">
        <div class="form-group mb-0">
          <label for="id_desde" class='mb-0' >Desde</label>
          <input type="date" class='form-control form-control-sm' name="fecha_inicio" id="id_desde" ></input>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-lg-4">
        <div class="form-group mb-0">
          <label for="id_hasta" class='mb-0' >Hasta</label>
          <input type="date" class='form-control form-control-sm' name="fecha_fin" id="id_hasta" ></input>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-lg-4">
        <div class="form-group mb-0">
          <label for="id_estado" class='mb-0'>Estado</label>
          {{form_matricula.estado|add_class:'form-control form-control-sm'|attr:'autocomplete:off'}}
        </div>
      </div>
      <div class="col-12 col-sm-6 col-lg-4">
        <div class="form-group mb-0">
          <label for="id_modalidad" class='mb-0'>Modalidad</label>
          {{form_matricula.modalidad|add_class:'form-control form-control-sm'|attr:'autocomplete:off'}}
        </div>
      </div>
      <div class="col-12">
        <div class="form-group mb-0">
          <label for="id_profesor" class='mb-0'>Profesores</label>
         <select class='select2 form-control form-control-sm' name="profesor" id="id_profesor" multiple='multiple' required></select>
        </div>
      </div>

</div>
{%endblock%}

{%block js_listar%}
<script src="{% static 'lib/select2-4.0.13/js/select2.min.js' %} "></script>
<script src="{% static 'lib/select2-4.0.13/js/i18n/es.js' %} "></script>
<script>
  $(function () {

    $('#id_desde_busqueda').val('');
    $('#id_hasta_busqueda').val('');
    $('#id_desde').val('');
    $('#id_hasta').val('');
    $('#id_profesor').val(null).trigger('change');
    $('#id_profesor_busqueda').val(null).trigger('change');
    $('#id_jcb').val('').trigger("change");
    $('#id_jcp').val('').trigger("change");
    $('#id_curso').val('').trigger("change");
    $('#id_curso_busqueda').val('').trigger("change");

    const municipio_gestor = JSON.parse(document.getElementById('municipio_gestor').textContent);
    const region_gestor = JSON.parse(document.getElementById('region_gestor').textContent);
    const provincia_gestor = JSON.parse(document.getElementById('provincia_gestor').textContent);
    const datos_maestro = JSON.parse(document.getElementById('datos_maestro').textContent);
    let solo_para_gestores_select = function(){
      //aqui inicializo a todos los select

      $('#id_jcp').val(provincia_gestor).trigger("change");
      setTimeout(() => {
          $('#id_region').val(region_gestor).trigger("change");
      }, 100);
      setTimeout(() => {
          $('#id_jcm').val(municipio_gestor).trigger("change");
      }, 100);
      $('#id_jcp').prop("disabled", true);
      $('#id_region').prop("disabled", true);
      $('#id_jcm').prop("disabled", true);
    }
    
    $('#id_jcp').trigger('change');
    let templateSelctProfesor = function(state){
          if (!state.id) {
            return state.text;
          }
          var $state = $(
          `
          <div class='card m-1 '><div class='card-body m-0 p-2 d-flex justify-content-start align-items-center'>
              <img src=${state.foto} width='40px' height='40px' class='elevation-2 img-circle mr-2'>
              <small class='badge badge-info' style='font-size:0.5rem;font-style: italic;font-weight:bold; position:absolute;top:77%;left:2%;'>${state.username}</small>
              <div class='row'>
                <div class='col-12'>
                  <div><strong>${state.text}</strong></div>
                  <small class='badge badge-info' style='font-size:0.5rem;font-style: italic;font-weight:bold ;'>CI :${state.ci}</small>
                  <small class='badge badge-info' style='font-size:0.5rem;font-style: italic;font-weight:bold ;'>JCP :${state.jcp}</small>
                  <small class='badge badge-info' style='font-size:0.5rem;font-style: italic;font-weight:bold ;'>JCM :${state.jcm}</small>
                  <small class='badge badge-info' style='font-size:0.5rem;font-style: italic;font-weight:bold ;'>JCB :${state.jcb}</small>
                  </div>
                </div>
              </div>
          </div>
          `
          );
          return $state;
    }
    let templateSelctProfesorYa = function(state){
          if (!state.id) {
            return state.text;
          }
          var ci = state.ci || state.element.dataset.ci
          var foto = state.foto || state.element.dataset.foto
          var jcp = state.jcp || state.element.dataset.jcp
          var jcm = state.jcm || state.element.dataset.jcm
          var username = state.username || state.element.dataset.username
          var $state = $(
          `
          <div class='card m-1 '><div class='card-body m-0 p-2 d-flex justify-content-start align-items-center'>
              <img src=${foto} width='40px' height='40px' class='elevation-2 img-circle mr-2'>
              <small class='badge badge-info' style='font-size:0.5rem;font-style: italic;font-weight:bold; position:absolute;top:77%;left:4%;'>${username}</small>
              <div class='row'>
                <div class='col-12'>
                  <div><strong>${state.text}</strong></div>
                  <small class='badge badge-info ' style='font-size:0.5rem;font-style: italic;font-weight:900 ;letter-spacing: 1px;'>CI :${ci}</small>
                  <small class='badge badge-info' style='font-size:0.5rem;font-style: italic;font-weight:900 ;letter-spacing: 1px;'>JCP :${jcp}</small>
                  <small class='badge badge-info' style='font-size:0.5rem;font-style: italic;font-weight:900 ;letter-spacing: 1px;'>JCM :${jcm}</small>
                  </div>
                </div>
              </div>
          </div>
          `
          );
          return $state;
    }
    funcion_vincular_select= function(){
       $('.select2').select2({
        theme: 'bootstrap4',
        language: 'es',
      });

      $('#id_profesor').select2({
        ajax:{
           type:'POST',
           url:'{% url "prematricula:buscar-maestro" %}',
           dataType:'json',
           data: function (params){
               return {
                 busqueda: params.term,
                 cantidad: 5,
                 csrfmiddlewaretoken:'{{csrf_token}}'
             }
           },
           processResults: function (data){
             var results = [];
             $.each(data, function(index,item){
                results.push({
                  id: item.id,
                  text: item.nombre,
                  foto:item.foto,
                  ci:item.ci,
                  jcp:item.jcp,
                  jcm:item.jcm,
                  jcb:item.jcb,
                  username:item.username,
                });
             });
             return {results}
           },
        },
        placeholder:'Ingresa un nombre ó carnet identidad ó usuario ....',
        minimumInputLength:2,
        theme: 'bootstrap4',
        language: 'es',
        templateResult: templateSelctProfesor,
        templateSelection: templateSelctProfesorYa
      });
      $('#id_profesor_busqueda').select2({
        ajax:{
           type:'POST',
           url:'{% url "prematricula:buscar-maestro" %}',
           dataType:'json',
           data: function (params){
               return {
                 busqueda: params.term,
                 cantidad: 5,
                 csrfmiddlewaretoken:'{{csrf_token}}'
             }
           },
           processResults: function (data){
             var results = [];
             $.each(data, function(index,item){
                results.push({
                  id: item.id,
                  text: item.nombre,
                  foto:item.foto,
                  ci:item.ci,
                  jcp:item.jcp,
                  jcm:item.jcm,
                  jcb:item.jcb,
                  username:item.username,
                });
             });
             return {results}
           },
        },
        placeholder:'Ingresa un nombre ó carnet identidad ó usuario ....',
        minimumInputLength:2,
        theme: 'bootstrap4',
        language: 'es',
        templateResult: templateSelctProfesor,
        templateSelection: templateSelctProfesorYa
      });
      //vinculaciones de las entidades
      $('#id_jcp').on('change', function () {
        var id = $(this).val();
        $.ajax({
          url: "{% url 'prematricula:entidad-region-buscar'  %}",
          type: 'POST',
          data: {
            'id_jcp': id,
            csrfmiddlewaretoken: function () {
              return $('input[name="csrfmiddlewaretoken"]').val();
            },
          },
          dataType: 'json'
        }).done(function (data) {
          $('#id_region').html('').select2({
            theme: 'bootstrap4',
            language: 'es',
            data: data
          }).trigger("change");
  
        });
      });
      $('#id_region').on('change', function () {
        var id = $(this).val();
        $.ajax({
          url: "{% url 'prematricula:entidad-jcm-buscar'  %}",
          type: 'POST',
          data: {
            'id_region': id,
            csrfmiddlewaretoken: function () {
              return $('input[name="csrfmiddlewaretoken"]').val();
            },
          },
          dataType: 'json'
        }).done(function (data) {
          $('#id_jcm').html('').select2({
            theme: 'bootstrap4',
            language: 'es',
            data: data
          }).trigger("change");
  
        });
      });
      $('#id_jcm').on('change', function () {
        var id = $(this).val();
        $.ajax({
          url: "{% url 'prematricula:entidad-jcb-buscar'  %}",
          type: 'POST',
          data: {
            'id_jcm': id,
            csrfmiddlewaretoken: function () {
              return $('input[name="csrfmiddlewaretoken"]').val();
            },
          },
          dataType: 'json'
        }).done(function (data) {
          $('#id_jcb').html('').select2({
            theme: 'bootstrap4',
            language: 'es',
            data: data
          }).trigger("change");
  
        });
      });
      //fin vinculaciones de las entidades
       $('#id_desde').on('change',function(e){
         $('#id_hasta').attr('min',$(this).val());
          });
        $('#id_hasta').on('change',function(e){
          $('#id_desde').attr('max',$(this).val());
        });
     
    }
     $('#id_jcp_busqueda').trigger('change');

    var vincular_busqueda_provincia_municipio= function(){
      $('.select2').select2({
        theme: 'bootstrap4',
        language: 'es',
      });
      //select profesores en busqueda
     
     $('#id_desde_busqueda').on('change',function(e){
       $('#id_hasta_busqueda').attr('min',$(this).val());
     });
     $('#id_hasta_busqueda').on('change',function(e){
       $('#id_desde_busqueda').attr('max',$(this).val());
     });
      //vinculaciones de las entidades
      $('#id_jcp_busqueda').on('change', function () {
        var id = $(this).val();
        $.ajax({
          url: "{% url 'prematricula:entidad-region-buscar'  %}",
          type: 'POST',
          data: {
            'id_jcp': id,
            csrfmiddlewaretoken: function () {
              return $('input[name="csrfmiddlewaretoken"]').val();
            },
          },
          dataType: 'json'
        }).done(function (data) {
           var newOption = new Option('--------', '', false, true);
          $('#id_region_busqueda').html('').select2({
            theme: 'bootstrap4',
            language: 'es',
            data: data
          }).append(newOption).trigger("change");
  
        });
      });
      $('#id_region_busqueda').on('change', function () {
        var id = $(this).val();
        $.ajax({
          url: "{% url 'prematricula:entidad-jcm-buscar'  %}",
          type: 'POST',
          data: {
            'id_region': id,
            csrfmiddlewaretoken: function () {
              return $('input[name="csrfmiddlewaretoken"]').val();
            },
          },
          dataType: 'json'
        }).done(function (data) {
           var newOption = new Option('--------', '', false, true);
          $('#id_jcm_busqueda').html('').select2({
            theme: 'bootstrap4',
            language: 'es',
            data: data
          }).append(newOption).trigger("change");
  
        });
      });
      $('#id_jcm_busqueda').on('change', function () {
        var id = $(this).val();
        $.ajax({
          url: "{% url 'prematricula:entidad-jcb-buscar'  %}",
          type: 'POST',
          data: {
            'id_jcm': id,
            csrfmiddlewaretoken: function () {
              return $('input[name="csrfmiddlewaretoken"]').val();
            },
          },
          dataType: 'json'
        }).done(function (data) {
           var newOption = new Option('--------', '', false, true);
          $('#id_jcb_busqueda').html('').select2({
            theme: 'bootstrap4',
            language: 'es',
            data: data
          }).append(newOption).trigger("change");
  
        });
      });
      //fin vinculaciones de las entidades
    }
    vincular_busqueda_provincia_municipio();
    funcion_vincular_select();
    //creacion de la tabla con  serverside
    var tblListar = $("#data").DataTable({
      'serverSide':true,
      'processing':true,
      'buttons': [
        'copy', 'excel', 'pdf'
    ],
      responsive: {
        details: true,
    },
      'ajax':function(data,callback,settings){
         $.post(window.location.pathname,{
           'action': 'cargarDatos',
           'csrfmiddlewaretoken': function () {
             return $('input[name="csrfmiddlewaretoken"]').val();
           },
           limite:data.length,
           inicio:data.start,
           busqueda:data.search.value

         },function(response){
               callback({
                 recordsTotal:response.total,
                 recordsFiltered:response.total,
                 data:response.lista

               });
         });
      },
        columns: [{
          "data": 'nombre_curso',
         
        },
        {
          "data": 'id',
         
        },
        {
          "data": "descripcion_curso"
        },
         {
          "data": "estado"
        },
        {
          "data": "fecha_inicio"
        },
        {
          "data": "fecha_fin"
        },
        {
          "data": "modalidad"
        },
        {
          "data": "capacidad"
        },
        {
          "data": "frecuencia"
        },
        {
          "data": "horas"
        },
        {
          "data": "foto_url"
        },
        {
          "data": "jcp"
        },
        {
          "data": "jcm"
        },
        {
          "data": "jcb"
        },
        {
          "data": "cantidad_estudiante"
        },
        {
          "data": "estado_color"
        },
        {
          "data": "nextCurso_id"
        },
        {
          "data": "esMaestro"
        },
        {
          "data": "esGestor"
        },
        //{% if perms.preMatricula.view_prematricula %}
        {
          "data": 'jcb'
        }
        //{%endif%}
      ],
      columnDefs: [{
          targets: 0,
          responsivePriority: 1,
          orderable: false,
          class: 'text-center',
          render: function (data, type, row) {
            var buttons =
              `
              <div class='wrapper'>
             <div class="card p-0 py-2 m-1" style="overflow:hidden;">
                <div class='card-body p-0 m-1'>
                  <div class='row'>
                    <div class='col-12  col-lg-2 col-md-2 col-sm-2 d-flex flex-column '>
                      <img src='${row.foto_url}' class=' mx-auto img-circle elevation-2 img-curso-lista' alt='image usuario' width='40px' height='40px'>
                      <small class='text-center duracion-curso-lista'><span class="badge badge-success ">${row.horas}</span></small>
                       <span class="bg-${row.estado_color} badge-curso-listar-estado"><strong>${row.estado}</strong></span>
                    </div>
                    <div class='col-12 col-lg-10 col-md-10 col-sm-10  p-1 pb-0 text-center bg-info' style="box-shadow: 0.5px 5px 5px 1px rgba(0,0,0,0.25);border-radius: 10px 1px 1px 10px;">
                      <small>
                        <div class='row'>
                          <div class='col-12'>  
                            <h5 class='mb-0' style="font-size: 0.9rem;font-weight: bold;">${data}</h5>
                            <p class="texto-curso-lista mb-0" style="color: #ffffffdb;">${row.descripcion_curso}</p>
                          </div>
                        </div>  
                      </small>
                    </div>
                  </div>
                </div>
                <div class='card-footer mb-0 p-1' style='font-size:0.8rem;box-shadow: 0px 5px 5px -2px rgba(0,0,0,0.25);margin-top: 0.5rem;border-top-color: #e9eeeec7;border-top-width: 1px;'>
                  <div class='row text-center'>
                    <div class='col-12 col-lg-3 col-md-4 col-sm-4'>
                      <div class='badge badge-secondary'>
                        <span data-toggle="tooltip" data-placement="top" title="Tooltip on top">JCP:</span>
                        <span >${row.jcp}</span>
                       </div>
                    </div>
                    <div class='col-12 col-lg-2 col-md-4 col-sm-4'>
                      <div class='badge badge-secondary'>
                        <span >JCM:</span>
                        <span >${row.jcm}</span>
                       </div>
                    </div>
                     <div class='col-12 col-lg-2 col-md-4 col-sm-4'>
                      <div class='badge badge-secondary'>
                        <span >JCB:</span>
                        <span >${row.jcb}</span>
                      </div>
                     </div>
                     <div class='col-12 col-lg-1 col-md-4 col-sm-4'>
                         <span ><i class="fa fa-user pr-1"></i>:</span>
                         <span >${row.capacidad}</span>
                      </div>
                      <div class='col-12 col-lg-1 col-md-4 col-sm-4'>
                         <span ><i class="fa fa-graduation-cap pr-1"></i>:</span>
                         <span >${row.cantidad_estudiante}</span>
                      </div>
                      <div class='col-12 col-lg-3 col-md-4 col-sm-4'>
                         <span><i class='fa fa-calendar-check mr-1'></i>:</span>
                         <span class="badge badge-success" style="font-size:0.5rem;">${row.fecha_inicio}</span>
                         <span class="badge badge-danger" style="font-size:0.5rem;">${row.fecha_fin}</span>
                        </div>
                  </div>
                </div>
                <a href="${row.nextCurso_id == 'no' ? '#':`/sistema/matricula-pagina/${row.nextCurso_id}/`}">
                <span class="badge badge-secondary navbar-badge badge-curso-listar">R: <strong>${row.nextCurso}</strong></span>
                </a>
               </div>
              `;
            return buttons
          }
        },
        {
          targets: [1,2,3, 4, 5, 6,7,8,9,10,11,12,13,14,15,16,17,18],
          visible: false,
        },
        {
          targets: [-1],
          responsivePriority: 2,
          class: "text-center",
          orderable: false,
          render: function (data, type, row) {
            var buttons = ''
            //{% if perms.preMatricula.view_prematricula%}
            buttons =
              '<a href="/sistema/matricula-pagina/'+ row.id+'/" rel="view" class="text-success" data-toggle="tooltip" title="Ver prematricula"><i class="fa fa-search" aria-hidden="true"></i></a> ';
            //{%endif%}
            //{% if perms.preMatricula.change_prematricula%}
                 //{% if request.user|has_group:"Admin" %}
                      buttons +=
                        '<a href="#" rel="edit" class="pl-1 text-info" data-toggle="tooltip" title="Editar prematricula"><i class="fa fa-edit" aria-hidden="true"></i></a> ';
                 //{% else %}  
                    if(row.esMaestro || row.esGestor){
                      buttons +=
                        '<a href="#" rel="edit" class="pl-1 text-info" data-toggle="tooltip" title="Editar prematricula"><i class="fa fa-edit" aria-hidden="true"></i></a> ';
                    }
                 //{% endif %}
            //{%endif%}
            //{% if perms.preMatricula.delete_prematricula%} 
                  //{% if request.user|has_group:"Admin" %}
                        buttons +=
                         '<a href="#" rel="delete" class="pl-1 text-danger" data-toggle="tooltip" title="Eliminar prematricula"><i class="fa fa-trash-alt" aria-hidden="true"></i></a>'
                 //{% else %}  
                    if(row.esMaestro || row.esGestor){
                        buttons +=
                          '<a href="#" rel="delete" class="pl-1 text-danger" data-toggle="tooltip" title="Eliminar prematricula"><i class="fa fa-trash-alt" aria-hidden="true"></i></a>'
                    }
                 //{% endif %}
            
            //{%endif%}
            return buttons
          }
        },

      ],
      order: [
        [4, 'asc']
      ],
      initComplete: function (settings, json) {
            
            //botones de accion 
                $('#btnDeleteAll').on('click', function () {
                  delete_select(tblListar);
                });

                $("#btnNuevo").on("click", function () {
                  if(municipio_gestor!=''){
                    solo_para_gestores_select()
                    
                    if(datos_maestro!=''){
                      var searchfield = $('#id_profesor').parent().find('.select2-search__field');
                      searchfield.val("");
                      var option = new Option(datos_maestro.nombre, datos_maestro.id, true, true);
                      option.dataset.ci = datos_maestro.ci;
                      option.dataset.foto = datos_maestro.foto;
                      option.dataset.jcp = datos_maestro.jcp;
                      option.dataset.jcm = datos_maestro.jcm;
                      option.dataset.username = datos_maestro.username;
                      option.dataset.jcb = datos_maestro.jcb;
                      $('#id_profesor').append(option).trigger('change');
                      $('#id_profesor').prop("disabled", true);
                    }
                  }
                  abrir_modal_nuevo("Nueva Matricula");
                });
                
                $('#data tbody').on('click', 'a[rel="edit"]', function (element) {
                  element.preventDefault();
                  abrir_modal_editar("Editar Matricula", tblListar, element.currentTarget);
                  if(municipio_gestor!=''){
                    $('#id_jcp').prop("disabled", true);
                    $('#id_region').prop("disabled", true);
                    $('#id_jcm').prop("disabled", true);
                  }
                });
                $('#data tbody').on('click', 'a[rel="delete"]', function (element) {
                  delete_registro(tblListar, element.currentTarget);
                });
            //fin de botones de accion
      }
    });//fin de DataTable server
    
    //agregamos los botones a la tabla
    $('#data_filter').html('<!-- {% if perms.preMatricula.add_prematricula%} --><button type="button" class="btn btn-default btn-xs" id="btnNuevo"><span>Nuevo Registro</span><i class="fa fa-plus ml-2"></i></button><!-- {%endif%} --><button  id="cancelar_buscar_btn_tabla" class="btn btn-danger btn-xs ml-1">Cancelar Busqueda<i class="fa fa-search ml-1"></i></button>');
     
    //tratamientos a los botones de las busquedas
    //boton para cancelar la busqueda
    let functionCancelarBusqueda = function(e){
        e.preventDefault();
      //obtener todos los elementos del formulario de busqueda
      var elements = document.getElementById("form_busqueda").elements;
      //iteramos todos para inicializarlos a todos
      for (var i = 0, element; element = elements[i++];) {
        //verifico si es un select, porque llevan un tratamiento diferente
        if(element.nodeName=='SELECT'){
          //si es un select y tambien es municipio, lo limpio.
          if(element.name=='municipio'){
             element.innerHTML='';
          }
          else{
            //es un select pero es provincia los inicializo con jquery
            $(element).val('');
            $(element).trigger('change');
          }

        }
        else{
          //los otros elementos normal el inicio
          element.value='';
        }
      }
      //boton para 
      //actualizo los datos en el titulo de la caja de busqueda
      $('#resumen_busqueda').html('Todos');
      //genero un diccionario con filtro vacio para criterio de busqueda sea todo
      var dict_busqueda_json =JSON.stringify({
                    filtro:{}
                    }); 
      //llamo al metodo buscar de datatable y pinto la busqueda
      tblListar.search(dict_busqueda_json).draw();
    }
    $('#cancelar_buscar_btn').on('click',function(e){
      functionCancelarBusqueda(e);
    });
    $('#cancelar_buscar_btn_tabla').on('click',function(e){
      functionCancelarBusqueda(e);
    });
     //boton de busquar 
     $('#buscar_btn').on('click',function(e){
      e.preventDefault();
      var valido_fecha = true;
      if($('#id_desde_busqueda').val()!='' && $('#id_hasta_busqueda').val()!=''){
          valido_fecha=true;
      }
      else if ($('#id_desde_busqueda').val()=='' && $('#id_hasta_busqueda').val()==''){
          valido_fecha=true;
      }
      else{
          valido_fecha=false;
      }
      //valido si paso o no 
      if(valido_fecha!= true){
          mensaje("error", "El rango de fecha no es valido en la busqueda.");
      }
      else{
        //listado de los datos a busquar
        let dict_busqueda = new Object()
        //todos los elementos del formulario
        var elements = document.getElementById("form_busqueda").elements;
        let dict_busqueda_text = ''
        //recorro cada elemento y si tiene datos lo incorporo a la lista
        for (var i = 0, element; element = elements[i++];) {
          if(element.value!=''){
            console.log(element);
            dict_busqueda[element.name]=element.value;
            if(element.nodeName=='SELECT'){
              if(element.hasAttribute('multiple')){
                dict_busqueda[element.name]=$(element).val();
                let collection = element.selectedOptions;
                var output='"';
                for (let i=0; i<collection.length; i++) {
                  output += collection[i].label;

                  if (i != (collection.length-1) ) {
                    output += ", ";
                  } 
                }
                output+='"'
                dict_busqueda_text += '<span>'+element.name+':<strong class="mx-1">'+output+'</strong></span>';
              }
              else{
                dict_busqueda[element.name]=element.value;
                dict_busqueda_text += '<span>'+element.name+':<strong class="mx-1">'+element.options[element.selectedIndex].innerHTML+'</strong></span>';
              }
            }
            else{
              dict_busqueda[element.name]=element.value;
              dict_busqueda_text += '<span>'+element.name+':<strong class="mx-1">'+element.value+'</strong></span>';
            }
          }
        }
        //si la lista no esta vacia procedo a realizar la busqueda
        if(Object.keys(dict_busqueda).length>0){
          var dict_busqueda_json =JSON.stringify({
                      filtro:dict_busqueda
                      }); 
          tblListar.search(dict_busqueda_json).draw();
          $('#resumen_busqueda').html(dict_busqueda_text);
          $('#card_busqueda').CardWidget('collapse');
        }
      }
      
    });

    //fin de tratamiento de botones de las busquedas

    //botones del nav de detalle
    $('#data tbody').on('click', 'a[rel="view"]', function (element) {
      var tr = tblListar.cell($(element.currentTarget).closest('td,li')).index();
      //paso a data una lista de los valores de la row a editar
      var data = tblListar.row(tr.row).data();
      //variable como semafaro para en la funcion del cerrar del modal cargar el formulario 
      cargar_extra_on_hide_modal = true
      window.location.href = "sistema/matricula-pagina/"+ data.id+"/";
    });
    
    
   
    

    $.validator.setDefaults({
      submitHandler: function (form) {
        var parametros = new FormData(form);
        parametros.append('id_edit', id_edit);
        if(datos_maestro!=''){
          parametros.append('profesor', $('#id_profesor').val());
        }
        submit_with_ajax(window.location.pathname, 'Notificacion', 'Estas seguro de guardar los datos?',
          parametros,
          function (data) {
            $('span').remove('.invalid-feedback');
            if (data.enviado) {
              $("#modal-nuevo").modal("hide");
              tblListar.ajax.reload();
              mensaje("success", "Guardado el Registro - " + data.nombre);
              id_edit = null;
            } else {
              var error = JSON.parse(data.error)
              var listado_error = []
              for (const key in error) {
                listado_error.push(`${key}: ${error[key][0]['message']}`)
                var element = $(`#formRegistro [name="${key}"]`)
                element.addClass("is-invalid");
                var html = `<span class='invalid-feedback'>${error[key][0]['message']}</span>`
                element.closest(".form-group").append(html);
              }
              mensaje("error", "Error Guardando el Registro - " + listado_error);
            }
          })
      }
    });
    
    //validacion del formulario 
    $("#formRegistro").validate({
      rules: {
        curso: {
          required: true,
        },
        fecha_inicio: {
          required: true,
        },
        fecha_fin: {
          required: true,
        },
        capacidad: {
          required: true,
          number: true,
          digits: true,
        },
        frecuencia: {
          required: true,
          number: true,
          digits: true,
        },
        jcp:{
          reguired:false
        },
        
      },
      messages: {
        fecha_inicio: {
          required: 'La fecha es necesaria',
        },
        fecha_fin: {
          required:  'La fecha es necesaria',
        },
        curso:{
          required: "El curso es necesario",
        },
        jcb:{
          required: "El joven club base es necesario",
        },
        capacidad: {
          required: "La capacidad es necesario",
          number: 'La capacidad es solo números',
          digits: 'Solo números',
        },
        frecuencia: {
          required: "La frecuencia es necesario",
          number: 'La frecuencia es solo números',
          digits: 'Solo números',
        },
        profesor:{
          required:'Profesores son necesarios'
        }
        
      },
      errorElement: "span",
      errorPlacement: function (error, element) {
        error.addClass("invalid-feedback");
        element.closest(".form-group").append(error);
      },
      highlight: function (element, errorClass, validClass) {
        $(element).addClass("is-invalid");
      },
      unhighlight: function (element, errorClass, validClass) {
        $(element).removeClass("is-invalid");
      },
    });
  });
</script>
{%endblock%}
<!-- actualizacion de varios bloques -->

<!-- actualizar el bloque de cuando se cierra el modal y hay que cargar el formulario despues de ver los detalles del registro -->
{% block on_hide_modal %}
    $('#contenido-modal').load('{% url "prematricula:matricula-add-form"%}',function() {
          select_municipio = $('#id_municipio');
          funcion_vincular_select();
    });
{% endblock %}

<!-- personalizar el modal de editar -->
{% block abrir_modal_editar%}
    //con esto obtengo el tr del boton edit de la tabla
    var tr = tabla.cell($(element).closest('td,li')).index();
    //paso a data una lista de los valores de la row a editar
    var data = tabla.row(tr.row).data();

    $.ajax({
        url: "{% url 'prematricula:matricula-datos'  %}",
        type: 'POST',
        data: {
            'id_matricula': data.id,
            csrfmiddlewaretoken: function () {
            return $('input[name="csrfmiddlewaretoken"]').val();
        },
        },
        dataType: 'json'
        }).done(function (respuesta) {
        if(respuesta['enviado']){
            var elements = document.getElementById("formRegistro").elements;
            for (var i = 0, element; element = elements[i++];) {
                if(element.type != 'button' && element.type != 'hidden' && element.type != 'submit'){
                   if(element.name=='profesor' || element.name =='curso' || element.name =='jcp' || element.name =='region'|| element.name =='jcm'|| element.name =='jcb'){
                  }
                  else{
                     element.value= respuesta[element.name]
                   }
            }
            }
            //manejos de los maestros
            $('#id_profesor').html('');
            var searchfield = $('#id_profesor').parent().find('.select2-search__field');
            searchfield.val("");
            JSON.parse(respuesta['profesores']).forEach(function(profesor){
                var option = new Option(profesor.nombre, profesor.id, true, true);
                option.dataset.ci = profesor.ci;
                option.dataset.foto = profesor.foto;
                option.dataset.jcp = profesor.jcp;
                option.dataset.jcm = profesor.jcm;
                option.dataset.username = profesor.username;
                option.dataset.jcb = profesor.jcb;
                $('#id_profesor').append(option).trigger('change');
            });
            //aqui inicializo a todos los select
            $('#id_curso').val(respuesta['curso'].toString()).trigger("change");
            $('#id_jcp').val(respuesta['jcp'].toString()).trigger("change");
            setTimeout(() => {
               $('#id_region').val(respuesta['region'].toString()).trigger("change");
            }, 100);
            setTimeout(() => {
               $('#id_jcm').val(respuesta['jcm'].toString()).trigger("change");
            }, 100);
            setTimeout(() => {
               $('#id_jcb').val(respuesta['jcb'].toString()).trigger("change");
            }, 100);
            
            $('input[name="action"]').val("edit");
            id_edit = data.id;
            //$('#id_jcb').val(respuesta['jcb'].toString()).trigger("change");
            modal_title.find('span').html(titulo);
            modal_title.find('i').removeClass().addClass('fa fa-edit');
            $('#modal-nuevo').modal('show');
        }
        else{
           console.log('problema con el ajax en editar prematricula');
        }
    });

{% endblock %}
<!-- esto es bloque para agregar mas funciones para inicializar los datos cuando se esconde el modal del registro -->
{% block on_hidden_modal_extra %}
  $('#id_profesor').html('');
  $('#id_jcb').val('').trigger("change");
  $('#id_jcp').val('').trigger("change");
  $('#id_curso').val('').trigger("change");
  $('#id_curso_busqueda').val('').trigger("change");
  

{% endblock %}