{% extends 'login/base.html' %} {% load static %}
{% load widget_tweaks %} {% block head %}
<link 
  rel="stylesheet"
  href="{% static 'lib/jquery-smartwizard-master/css/smart_wizard_all.min.css'%}"
/>
<link rel="stylesheet" href="{% static 'lib/select2-4.0.13/css/select2.min.css'%}"/>
<link rel="stylesheet" href="{% static 'lib/select2-4.0.13/css/select2-bootstrap4.min.css'%}"/>
<style>
.sw .toolbar > .btn.disabled, .sw .toolbar > .btn:disabled{
    opacity: 0.4;
}
  .card-registrar {
    background-color: white !important;  
    position: relative;
    animation: formulario 1.75s cubic-bezier(0.425, 0.5, 0.47, 1.105) 0.5s both;  
  }
 
  .titulo-card{
      position: relative;
      top: 5px;
      left: 0px;
      height: 2.5rem;
      box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
      animation: titulo_card 1.75s cubic-bezier(0.425, 0.5, 0.47, 1.105) 0.5s both;
  }
  .img-registro{
      width: 30px;
      height: 30px;
  }
   .img-grupo{
      width: 80%;
      margin-top: 5%;
      position: relative;
      animation: foto_grupo 1.75s cubic-bezier(0.425, 0.5, 0.47, 1.105) 0.5s both;  
  }
  .cuadro{
      position: relative;
      height: 8rem;
      left: 0px;
      box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
      top: -10px;
      border-radius: 10%;
      animation: cuadro_texto 0.75s cubic-bezier(0.425, 0.5, 0.47, 1.105) 0.5s both; 
  }
  @keyframes formulario {
    0% {
        opacity: 0;
        left: 500px;
    }
    75% {
        opacity: 1;
        left: 0px;
    }
}
 @keyframes foto_grupo {
    0% {
        opacity: 0;
        width: 0%;
    }
    75% {
        opacity: 1;
        width: 80%;
    }
}
 @keyframes cuadro_texto {
    0% {
        opacity: 0;
        top: 500px;
    }
    75% {
        opacity: 1;
        top: 0px;
    }
}
 @keyframes titulo_card {
    0% {
        opacity: 0;
        top: 500px;
        transform: rotate(0deg);
    }
    50% {
        opacity: 0.5;
        top: 10px;
        transform: rotate(10deg);
    }
    60%{
        opacity: 0.8;
        top: -20px;
        transform: rotate(1deg);
    }
    100%{
        opacity: 1;
        top: 0px;
    }
}
</style>
{% endblock %} {% block content %}
<div class="d-flex justify-content-center align-items-center">
<div class="container mt-5 container-sm">
<div class="row">
    <div class="col-12 col-lg-6">
        <div class="titulo-card bg-info pt-1 w-100 d-flex justify-content-center">
                <img src="{% static 'img/registro.png'%}" alt="Imagen de registro" class="img-registro mr-2">
                <h5>FORMULARIO DE REGISTRO EN 3 PASOS</h5>
            </div>
            <div class="text-center d-none d-sm-none d-md-block">
            <img src="{% static 'img/si.png'%}"class="img-grupo" />
            </div>
            <div class="cuadro bg-info px-3 text-center pt-2 d-none d-sm-none d-md-block"><p>¿Quieres formar parte de esta gran familia cubana? <br/>En el "Sistema de Matrícula Online para Cursos de los Joven Club de Computación" encontrará cursos de su interés, con los cuales aumentará sus conocimientos en el mundo de las tecnología.</p></div>
    </div>
    <div class="col-12 col-lg-6 ">
       
    <div class="card card-registrar ">
            
        <div class="card-body p-2">
            <div id="smartwizard" class="sw">

        <ul class="nav">
            <li class="nav-item">
              <a class="nav-link inactive " href="#step-1">
                <strong>Paso 1</strong> <br>Tu Cuenta
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link inactive" href="#step-2">
                <strong>Paso 2</strong> <br>Dato Personal
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link inactive" href="#step-3">
                <strong>Paso 3</strong> <br>Dirección
              </a>
            </li>
        </ul>
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
        <div class="tab-content" >
            <div id="step-1" class="tab-pane p-2" role="tabpanel" aria-labelledby="step-1" >
                <div>
                    <div class="form-group">
                        {% for field in form %}
                            {{field.label_tag}}*
                            {{field|add_class:'form-control'|attr:'autocomplete:off'}}
                                {% if field.help_text %}
                                    <small class="help text-info">{{ field.help_text|safe }}</small>
                                {% endif %}
                                {% if field.errors %}
                                    <small class="help text-danger">{{ field.errors|safe }}</small>
                                {% endif %}
                            
                        {%endfor%}
                        <br>
                        {{formPerfil.correo.label_tag}}*
                        {{formPerfil.correo|add_class:'form-control'|attr:'autocomplete:off'}}
                        <small class="help text-info">nauta.com.cu,nauta.cu,gmail.com,cubava.cu</small>
                        {{formPerfil.correo.errors}}
                    </div>
                </div>
            </div>
            <div id="step-2" class="tab-pane p-2" role="tabpanel" aria-labelledby="step-2" >
                <div class="form-group">
                    {% for field in formPerfil %}
                        {%if field.name == 'correo' or field.name == 'telefono' or field.name == 'direccion' or field.name == 'provincia' or field.name == 'municipio' %}
                        {%else%}
                            {{field.label_tag}}*
                            {{field|add_class:'form-control'|attr:'autocomplete:off'}}
                            {{ field.errors }}
                        {%endif%}
                        
                    {%endfor%}
                </div>
            </div>
            <div id="step-3" class="tab-pane p-2" role="tabpanel" aria-labelledby="step-3" >
                <div class="form-group">
                    {{formPerfil.direccion.label_tag}}*
                    {{formPerfil.direccion|add_class:'form-control'|attr:'autocomplete:off'}}
                    {{formPerfil.direccion.errors}}
                    {{formPerfil.provincia.label_tag}}*
                    {{formPerfil.provincia|add_class:'form-control'|attr:'autocomplete:off'}}
                    {{formPerfil.provincia.errors}}
                    {{formPerfil.municipio.label_tag}}*
                    {{formPerfil.municipio|add_class:'form-control select2'|attr:'autocomplete:off'}}
                    {{formPerfil.municipio.errors}}
                    {{formPerfil.telefono.label_tag}}
                    {{formPerfil.telefono|add_class:'form-control'|attr:'autocomplete:off'}}
                    {{formPerfil.telefono.error}}
                </div>
                <button type="submit" class="btn btn-success btn-block">Enviar</button>
            </div>
        </div>
        </form>
            </div>
        </div>
        <!-- /.card-body -->
        <div class="card-footer text-center">
            Si tienes una cuenta accede desde
            <a href="{% url 'login:login-user'%}">aqui</a>
      
        </div>
    </div>
    
  </div>
    </div>
</div>
   
</div>
</div>

{% endblock %} 
{% block js%}

<script src="{% static 'lib/jquery-smartwizard-master/js/jquery.smartWizard.min.js' %} "></script>
<script src="{% static 'lib/select2-4.0.13/js/select2.min.js' %} "></script>
<script src="{% static 'lib/select2-4.0.13/js/i18n/es.js' %} "></script>
<script src="{% static 'lib/jquery-validation/jquery.validate.min.js'%}"></script>
<script type="text/javascript">
$(document).ready(function() {
    var select_municipio = $('#id_perfil-municipio');
    /*select_municipio.html('');*/
    $('.select2').select2({
        theme: 'bootstrap4',
        language:'es',
    });
    $('#id_perfil-provincia').on('change',function(){
        var id = $(this).val();
        $.ajax({
            url:"{% url 'prematricula:buscar-municipios'%}",
            type:'POST',
            data:{
                'id_provincia':id,
                csrfmiddlewaretoken:function(){
                                    return $('input[name="csrfmiddlewaretoken"]').val();
                                },
            },
            dataType:'json'
        }).done(function(data){
            select_municipio.html('').select2({
                theme: 'bootstrap4',
                language:'es',
                data:data
            });
        });
    });
    $.validator.addMethod("userCorrect", function (value, element) {
        var pattern = new RegExp("\^[A-Za-z0-9_-]+$");
        return this.optional(element) || pattern.test(value);
    }, "Formato del usuario incorrecto.");
    $.validator.addMethod("formEmail", function (value, element) {
        var correo = '(nauta\.com\.cu|nauta\.cu|gmail\.com|cubava\.cu|cha\.jovenclub\.cu)$'
        var pattern = new RegExp("\^([a-zA-Z0-9_.-])+@"+correo);
        return this.optional(element) || pattern.test(value);
    }, "Formato del email incorrecto.");
    $("form").validate({
        rules: {
                username: {
                    required: true,
                    maxlength: 150,
                    userCorrect:true,
                    remote: {
                        url: "{% url 'user:chequearUserName'%}",
                        type: "post",
                        data: {
                            action: "chequearUsuario",
                            csrfmiddlewaretoken:function(){
                                    return $('input[name="csrfmiddlewaretoken"]').val();
                                },
                            }
                        }
                    },
                password1:{
                    required:true,
                    minlength:8,
                },
                password2:{
                    required:true,
                    minlength:8,
                    equalTo:'#id_password1'
                },
                'perfil-correo':{
                    required:true,
                    formEmail:true
                },
                'perfil-ci':{
                    required:true,
                    minlength:11,
                    maxlength:11
                },
                'perfil-direccion':{
                    required:true,
                },
                'perfil-telefono':{
                    number:true,
                },
                
               
                },
        messages: {
                'perfil-provincia':{
                    required:'Debe elegir una Provincia',
                },
                'perfil-municipio':{
                    required:'Debe elegir un municipio',
                },
                'perfil-telefono':{
                    number:'Solo números permitido',
                },
                'perfil-direccion':{
                    required:'La dirección es un campo requerido',
                },
                'perfil-nombre':{
                    required:'Nombre es requerido.'
                },
                'perfil-apellido1':{
                    required:'Apellido Paterno es requerido.'
                },
                'perfil-apellido2':{
                    required:'Apellido Materno es requerido.'
                },
                'perfil-ci':{
                    required:'Carnet Identidad es requerido',
                    number:'Solo numeros en el carnet identidad.',
                    minlength:'Mínimo 11 números',
                    maxlength:'Máximo 11 números'
                },
                username: {
                    required: "El nombre de usuario es necesario.",
                    maxlength: "No esta permitido mas de 30 caracteres.",
                    remote:'Nombre de Usuario ya está en el sistema.'
                },
                password1:{
                    required:'Contraseña es un dato necesario.',
                    minlength:'La contraseña tiene que ser mayor a 8 letras.'
                },
                password2:{
                    required:'Contraseña es un dato necesario.',
                    minlength:'La contraseña tiene que ser mayor a 8 letras.',
                    equalTo: 'Las contraseñas no coiciden.'
                },
                'perfil-correo':{
                    required:'El correo es necesario para poder crear la cuenta.',
                    email:'Entre un correo válido'
                }
            },
      errorElement: "span",
      errorPlacement: function (error, element) {
        error.addClass("invalid-feedback");
        error.insertBefore(element);
      },
      highlight: function (element, errorClass, validClass) {
        $(element).addClass("is-invalid");
      },
      unhighlight: function (element, errorClass, validClass) {
        $(element).removeClass("is-invalid");
      },
    });
    $('#smartwizard').smartWizard({
        theme:'arrows',
        autoAdjustHeight: false,
        enableURLhash: false,
        transition: {
            animation: 'fade'
        },
          toolbarSettings: {
      toolbarPosition: 'bottom', // none, top, bottom, both
      toolbarButtonPosition: 'center', // left, right, center
      showNextButton: true, // show/hide a Next button
      showPreviousButton: true, // show/hide a Previous button
      toolbarExtraButtons: [] // Extra buttons to show on toolbar, array of jQuery input/buttons elements
  },
        justified: true,
        lang: { // Language variables for button
            next: 'Siguiente',
            previous: 'Anterior'
        },
       //errorSteps: [0] // Highlight step with errors
    });
    $("#smartwizard").on("leaveStep", function(e, anchorObject, currentStepIndex, nextStepIndex, stepDirection) {
        return $("form").valid();
    });
    
});
</script>
{% endblock %}
