{% load widget_tweaks %}
{% load filterCustom %}
<div class="row">
      <div class="col-12 col-sm-6 col-lg-4">
        <div class="form-group">
          {{form_perfil.nombre.label_tag}}
          {{form_perfil.nombre|add_class:'form-control form-control-sm'|attr:'autocomplete:off'}}
        </div>
      </div>
      <div class="col-12 col-sm-6 col-lg-4">
        <div class="form-group">
          {{form_perfil.apellido1.label_tag}}
          {{form_perfil.apellido1|add_class:'form-control form-control-sm'|attr:'autocomplete:off'}}
        </div>
      </div>
      <div class="col-12 col-sm-6 col-lg-4">
        <div class="form-group">
          {{form_perfil.apellido2.label_tag}}
          {{form_perfil.apellido2|add_class:'form-control form-control-sm'|attr:'autocomplete:off'}}
        </div>
      </div>
      <div class="col-12 col-sm-6 col-lg-4">
        <div class="form-group">
          <label>Carnet Identidad:<small id='contenedor_contador_ci' class='ml-1' style="font-weight: 800;"><span id='cant_numero_ci'>0</span>/11</small></label>
          <div class="input-group input-group-sm">
             <div class="input-group-prepend ">
               <span class="input-group-text"><i class="fas fa-address-card"></i></span>
             </div>
             {{form_perfil.ci|add_class:'form-control form-control-sm'|attr:'autocomplete:off'}}
            </div>
          </div>
      </div>
      <div class="col-12 col-sm-6 col-lg-4">
        <div class="form-group">
          <label>Usuario</label>
          <div class="input-group input-group-sm">
            <div class="input-group-prepend ">
              <span class="input-group-text"><i class="fas fa-user"></i></span>
            </div>
            {{form_user.username|add_class:'form-control form-control-sm'|attr:'autocomplete:off'}}
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-lg-4">
        <div class="form-group">
          <label>Correo</label>
          <div class="input-group input-group-sm">
            <div class="input-group-prepend ">
              <span class="input-group-text">@</span>
            </div>
            {{form_perfil.correo|add_class:'form-control form-control-sm'|attr:'autocomplete:off'}}
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-lg-4">
        <div class="form-group">
          <label>Telefono</label>
          <div class="input-group input-group-sm">
            <div class="input-group-prepend ">
              <span class="input-group-text"><i class="fas fa-phone"></i></span>
            </div>
            {{form_perfil.telefono|add_class:'form-control form-control-sm'|attr:'autocomplete:off'}}
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-lg-4">
        <div class="form-group">
          {{form_perfil.provincia.label_tag}}
          {{form_perfil.provincia|add_class:'form-control form-control-sm'|attr:'autocomplete:off'}}
        </div>
      </div>
       <div class="col-12 col-sm-6 col-lg-4">
        <div class="form-group">
          <label for="id_municipio">Municipio</label>
          <select  class='select2 form-control form-control-sm' name="municipio" id="id_municipio" required></select>
        </div>
      </div>
      <div class="col-8">
        <div class="form-group">
          <label>Dirección</label>
          <div class="input-group input-group-sm">
            <div class="input-group-prepend ">
              <span class="input-group-text"><i class="fas fa-book-open"></i></span>
            </div>
            {{form_perfil.direccion|add_class:'form-control form-control-sm'|attr:'autocomplete:off'}}
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-lg-4">
        <div class="form-group">
          <label>Usuario siscae</label>
          <div class="input-group input-group-sm">
            <div class="input-group-prepend ">
              <span class="input-group-text"><i class="fas fa-user"></i></span>
            </div>
              {{form_instructor.usuario_siscae|add_class:'form-control form-control-sm'|attr:'autocomplete:off'}}
          </div>
        </div>
      </div>
       <div class="col-12 col-sm-6 col-lg-4">
        <div class="form-group">
          <label for="id_jcp">JCC Provincial</label>
          {{form_instructor.jcp|add_class:'form-control form-control-sm'|attr:'autocomplete:off'}}
        </div>
      </div>
      <div class="col-12 col-sm-6 col-lg-4">
        <div class="form-group">
          <label for="id_region">Región</label>
          <select  class='select2 form-control form-control-sm' name="region" id="id_region" ></select>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-lg-4">
        <div class="form-group">
          <label for="id_jcm">JCC Municipal</label>
          <select class='select2 form-control form-control-sm' name="jcm" id="id_jcm" ></select>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-lg-4">
        <div class="form-group">
          <label for="id_jcb">JCC Base</label>
          <select class='select2 form-control form-control-sm' name="jcb" id="id_jcb" required></select>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-lg-4">
        <div class="form-group">
          {{form_instructor.cargo.label_tag}}
          {{form_instructor.cargo|add_class:'form-control form-control-sm select2'|attr:'autocomplete:off'}}
        </div>
      </div>
      {% if request.user|has_group:"Admin" or request.user|has_group:"Gestor" %}
      <div class="col-12 col-sm-6 col-lg-4">
        <div class="form-group pt-4">
          <span><strong class="mr-4">Activo:</strong>{{form_user.is_active|add_class:'form-check-input'|attr:'autocomplete:off'}}</span>
          <span><strong class="mr-4">Maestro:</strong><input type="checkbox" name="maestro" autocomplete="off" class="form-check-input" id="id_maestro" ></span>
        </div>
      </div>
       {% endif %}
</div>
