{% extends 'base.html'%}
{% load static %}
{% load widget_tweaks%}
{% block head %}
<link rel="stylesheet" href="{% static 'lib/datatables-1.10.20/css/dataTables.bootstrap4.min.css' %}" />
<link rel="stylesheet"
  href="{% static 'lib/datatables-1.10.20/plugins/responsive-2.2.3/css/responsive.bootstrap4.min.css' %}" />
<link rel="stylesheet" href="{% static 'lib/jquery-confirm-v3.3.4/jquery-confirm.min.css'%}" />
{% block head_list %}{% endblock %}
{% endblock  %}

{% block contenido %}
<div class='d-flex justify-content-end pb-2'>
  {% block boton_accion%}
  <button type="button" class="btn btn-default btn-xs" id='btnNuevo'>
    <i class="fa fa-plus mr-2"></i><span>Nuevo Registro</span>
  </button>
  <button type="button" class="btn btn-danger  ml-1 btn-xs" style="float: left;" id='btnDeleteAll'>
    <i class="fa fa-trash-alt mr-1"></i><span>Borrar selección</span>
  </button>
  {% endblock%}
  {%block boton_accion_extra%}{%endblock%}
</div>
<div class="card ">

  <div class="card-body">
    <table class="table table-bordered display nowrap" id="data"  style="width:100%">
      <thead>
        {% block columns %}
        {% endblock %}
      </thead>
      <tbody>
        {% block rows %}
        {% endblock %}
      </tbody>
    </table>
  </div>
  <div class="card-footer">
    {% block footer_list %}

    {% endblock %}
  </div>
</div>
{%block modal_listar%}
<div class="modal fade" id="modal-nuevo">
  <form action="post" id='formRegistro'>
    <div class="modal-dialog {%block class_modal%}{% endblock %} ">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title"><i class=""></i><span class="pl-2"></span></h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <input type="hidden" name="action" value="add" />
          {% csrf_token %}
          <div id="contenido-modal">
          {%block form_modal%}
            {% for field in form.visible_fields%}
            <div class="form-group">
              {{field.label_tag}}
              {{field|add_class:'form-control'|attr:'autocomplete:off'}}
            </div>
            {%endfor%}
            {%endblock%}
          </div>
        </div>
        <div class="modal-footer justify-content-between">
          <button type="submit" class="btn btn-primary vw-100">Guardar</button>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </form>
</div>
{%endblock%}
{% endblock %}

{% block js %}
<script src="{% static 'lib/datatables-1.10.20/js/jquery.dataTables.js' %}"></script>
<script src="{% static 'lib/datatables-1.10.20/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'lib/datatables-1.10.20/plugins/responsive-2.2.3/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'lib/datatables-1.10.20/plugins/responsive-2.2.3/js/responsive.bootstrap4.min.js' %}"></script>
<script src="{% static 'lib/sweetalert2/sweetalert2.all.min.js' %}"></script>
<script src="{% static 'lib/jquery-validation/jquery.validate.min.js'%}"></script>
<script src="{% static 'lib/jquery-validation/additional-methods.min.js'%}"></script>
<script src="{% static 'js/list.js'%}"></script>
<script>
  var delete_select = function (tabla,url_deletes=window.location.pathname) {
        var select_item = new Array();
        $('#data input[type="checkbox"]:checked').each(function(){
            var tr = tabla.cell($(this).closest('td,li')).index();
            var data = tabla.row(tr.row).data();
            //{% block delete_registro_varios%}
            select_item.push(data.id);
            //{% endblock %}
            });
        if(select_item.length == 0){ mensaje("info",'No hay registros seleccionados.');}
        else{
        var contexto = {
            id:JSON.stringify(select_item),
            action:"delete",
            csrfmiddlewaretoken:$('input[name="csrfmiddlewaretoken"]').val()
            }
        console.log(contexto);
        with_ajax(url_deletes,"Eliminando","Estas seguro de eliminar los registro seleccionados",contexto,function(data){
            if (data.hasOwnProperty('error')){
                mensaje("error","Estos registros están Restringido:  - "+data.error );
            }
            else{
            mensaje("success","Registro eliminado correctamente");
            }
            id_edit=null;
            tabla.ajax.reload();
        });
        }
}
  var delete_registro = function (tabla, element, url_delete = window.location.pathname) {
    var tr = tabla.cell($(element).closest('td,li')).index();
    var data = tabla.row(tr.row).data();
    contexto = {
      //{% block delete_registro%}
      id: data.id,
      //{% endblock%}
      action: "delete",
      csrfmiddlewaretoken: $('input[name="csrfmiddlewaretoken"]').val()
    }
    with_ajax(url_delete, "Eliminando", "Estas seguro de eliminar este registro", contexto, function (data) {
      if (data.hasOwnProperty('error')) {
        mensaje("error", "Error Guardando el Registro - " + data.error);
      } else {
        $("#modal-nuevo").modal("hide");
        tabla.ajax.reload();
        mensaje("success", "Registro eliminado correctamente");
      }
      id_edit = null;
    });
  }
  var abrir_modal_editar = function (titulo, tabla, element) {
    
    //{% block abrir_modal_editar%}
    //con esto obtengo el tr del boton edit de la tabla
    var tr = tabla.cell($(element).closest('td,li')).index();
    //paso a data una lista de los valores de la row a editar
    var data = tabla.row(tr.row).data();
    //itero todos los campos del fromRegirto para cargar los datos del que quiero editar

    $('#formRegistro input[type!="hidden"]').each(function (index, element) {
      //aqui element.name me devuelve el valor name del input iterado
      //y data[element.name] me devuelve el valor de la key element.name e inicializo el camo con ese valor  
      element.value = data[element.name];
    });
    //{%block abrir_modal_editar_add %}
    //{% endblock%}
    $('input[name="action"]').val("edit");
    id_edit = data.id;
    modal_title.find('span').html(titulo);
    modal_title.find('i').removeClass().addClass('fa fa-edit');
    $('#modal-nuevo').modal('show');

    //{% endblock %}
  }
  /*eliminamos la clase is-valid si se cierra el modal*/
  $('#modal-nuevo').on('hidden.bs.modal', function (e) {
    if (estudiante_view) {
           $('.modal-footer').html('<button type="submit" class="btn btn-primary vw-100">Guardar</button>');
           $('#contenido-modal').load('{% url "prematricula:estudiante-add-form"%}',function() {
                 //$('#modal-nuevo').modal('show');
           });
           estudiante_view=false      
        }
    var elements = document.getElementById("formRegistro").elements;

    for (var i = 0, element; element = elements[i++];) {
      if (element.classList.contains("is-invalid")) {
        element.classList.remove("is-invalid");
      }
    }
    $('span').remove('.invalid-feedback');

  });
</script>
{%block js_listar%}{%endblock%}
{% endblock %}