{% extends 'base.html'%}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'lib/datatables-1.10.20/css/dataTables.bootstrap4.min.css' %}" />
    <link rel="stylesheet"
        href="{% static 'lib/datatables-1.10.20/plugins/responsive-2.2.3/css/responsive.bootstrap4.min.css' %}" />
    
    {% block head_list %}
    
    {% endblock %}
{% endblock  %}

{% block contenido %}
<div class="card ">
    <div class="card-header">
        <div class='row'>
            <div class='col-md-3'>
                <h3 class="card-title">
                  <i class="{{icono_titulo}}"></i>
                   {{ title }}
                </h3>
            </div>
            <div class='col-md-7'>
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                {%block carrusel%}
                        <div class="carousel-item active" >
                             <i class="fas fa-bell"></i> Recuerda mandar la energía antes de las 8:15am.
                        </div>
                        <div class="carousel-item">
                            <i class="fas fa-bell"></i> Si no se manda la energía, el sistema carga la del dia anterior y añade una nota.
                        </div>
                {%endblock%}
                    </div>
                </div>
            </div>
            <div class='col-md-2'>
                <span id="hora"></span>
                <div class='card-tools' style="float: right;">
                <a href="#" class="btn btn-dark btn-flat btnNuevo" style="font-size: 10px;">
                    <i class="fas fa-plus"></i>
                </a>
                <a href="#" class="btn btn-dark btn-flat" style="font-size: 10px;">
                    <i class="fas fa-sync"></i>
                </a>
                {% block tool %}
            
                {% endblock %}
            </div></div>
        </div>
    </div>
    <div class="card-body">
        <table class="table table-bordered" id="data">
            <thead>
                {% block columns %}
                {% endblock %}
            </thead>
            <tbody>
                {% block rows %}
                {% endblock %}
            </tbody>
        </table>
    </div>
    <div class="card-footer">
        {% block footer_list %}
        
        {% endblock %}
    </div>
</div>
  {%block modal_listar%}

  {%endblock%}
{% endblock %}

{% block js %}
<script src="{% static 'lib/datatables-1.10.20/js/jquery.dataTables.js' %}"></script>
<script src="{% static 'lib/datatables-1.10.20/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'lib/datatables-1.10.20/plugins/responsive-2.2.3/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'lib/datatables-1.10.20/plugins/responsive-2.2.3/js/responsive.bootstrap4.min.js' %}"></script>
{%block js_listar%}
{%endblock%}
<script type="application/javascript">
   {% block js_query %}
   $(function () {
        $('#data').DataTable({
            responsive: true,
            autoWidth: false
        });

        $('.btnTest').on('click', function () {
            $.ajax({
                url: "#",
                type: 'POST',
                data: { id: 1 },
                dataType: 'json'
            }).done(function (data) {
                console.log(data);
            }).fail(function (jqXHR, textStatus, errorThrown) {
                alert(textStatus + ': ' + errorThrown);
            }).always(function (data) {

            });
        });
    });
    {% endblock %}

</script>
{% endblock %}