{% extends "base.html"%}
{% load static%}

{%block contenido%}
<div class="row">
  <div class="col-lg-3 col-6 ">
    <div class="small-box bg-info tamano_caja_info_panel">
              <div class="inner p-0 pl-4">
                <h3 class="mb-1">1</h3>

                <p>Curso(s) Activo(s)</p>
              </div>
              <div class="icon" >
                <i class="fas fa-check-square icono_panel_info"></i>
              </div>
    </div>
  </div>
  <div class="col-lg-3 col-6 ">
    <div class="small-box bg-info tamano_caja_info_panel">
              <div class="inner p-0 pl-4">
                <h3 class="mb-1">5</h3>

                <p>Curso(s) Matriculado(s)</p>
              </div>
              <div class="icon" >
                <i class="fas fa-id-card icono_panel_info"></i>
              </div>
    </div>
  </div>
  <div class="col-lg-3 col-6 ">
    <div class="small-box bg-info tamano_caja_info_panel">
              <div class="inner p-0 pl-4">
                <h3 class="mb-1">4</h3>

                <p>Curso(s) Completado(s)</p>
              </div>
              <div class="icon" >
                <i class="fas fa-graduation-cap icono_panel_info"></i>
              </div>
    </div>
  </div>
  <div class="col-lg-3 col-6 ">
    <div class="small-box bg-info tamano_caja_info_panel">
              <div class="inner p-0 pl-4">
                <h3 class="mb-1">30</h3>

                <p>Curso(s) Nuevo(s)</p>
              </div>
              <div class="icon" >
                <i class="fas fa-plus icono_panel_info"></i>
              </div>
    </div>
  </div>
</div>
<!--primera seccion sugerencia y +50% matriculados-->
<div class="row">
  <div class="col-12 col-lg-6">
    <div class="card ">
      <div class="card-header border-0">
        <h1 class="card-title">Sugerencia de la semana:</h1>
      </div>
  <div id="carouselExampleIndicators" class="carousel slide p-2" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
    <div class="row">
              <div class="col-12 col-lg-6 col-md-6 col-sm-6">
              <div class="card card-widget widget-user">
                <div class="ribbon-wrapper ">
              <div class="ribbon bg-danger">+ 50 %</div>
</div>
  <!-- Add the bg color to the header using any of the bg-* classes -->
  <div class="widget-user-header bg-warning">
    <h3 class="widget-user-username">Curso sistema operativo Windows</h3>
    <!-- <h5 class="widget-user-desc">San Miguel del Padron</h5> -->
    <div class="d-flex justify-content-evenly align-items-end">
      <i class="fa fa-clock" aria-hidden="true"></i>
      <i class="fa fa-clock" aria-hidden="true"></i>
    </div>
  </div>
  <div class="widget-user-image">
    <img
      class="img-circle elevation-2"
      src="{% static 'img/python.png' %}"
      alt="User Avatar"
    />
  </div>
  <div class="card-footer">
    <div class="row">
      <div class="col-sm-4 border-right">
        <div class="description-block">
          <h5 class="description-header text-xs">24h</h5>
          <span class="description-text text-xs"><i class="fa fa-clock" aria-hidden="true"></i></span>
        </div>
        <!-- /.description-block -->
      </div>
      <!-- /.col -->
      <div class="col-sm-4 border-right">
        <div class="description-block">
          <h5 class="description-header text-xs">04/05/21</h5>
          <span class="description-text text-xs">Inicio</span>
        </div>
        <!-- /.description-block -->
      </div>
      <!-- /.col -->
      <div class="col-sm-4">
        <div class="description-block">
          <h5 class="description-header text-xs">04/06/21</h5>
          <span class="description-text text-xs">fin</span>
        </div>
        <!-- /.description-block -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div>
             </div>
              </div>
              <div class="d-none d-sm-block col-12 col-lg-6 col-md-6 col-sm-6 ">
                <div class="card card-widget widget-user">
                  <div class="ribbon-wrapper">
<div class="ribbon bg-success">
Nuevo
</div>
</div>
  <!-- Add the bg color to the header using any of the bg-* classes -->
  <div class="widget-user-header bg-info">
    <h3 class="widget-user-username">Aprendiendo lo basico de Word</h3>
    <!-- <h5 class="widget-user-desc">San Miguel del Padron</h5> -->
  </div>
  <div class="widget-user-image">
    <img
      class="img-circle elevation-2"
      src="{% static 'img/word.png' %}"
      alt="User Avatar"
    />
  </div>
  <div class="card-footer">
    <div class="row">
      <div class="col-sm-4 border-right">
        <div class="description-block">
          <h5 class="description-header text-xs">24h</h5>
          <span class="description-text text-xs"><i class="fa fa-clock" aria-hidden="true"></i></span>
        </div>
        <!-- /.description-block -->
      </div>
      <!-- /.col -->
      <div class="col-sm-4 border-right">
        <div class="description-block">
          <h5 class="description-header text-xs">04/05/21</h5>
          <span class="description-text text-xs">Inicio</span>
        </div>
        <!-- /.description-block -->
      </div>
      <!-- /.col -->
      <div class="col-sm-4">
        <div class="description-block">
          <h5 class="description-header text-xs">04/06/21</h5>
          <span class="description-text text-xs">Fin</span>
        </div>
        <!-- /.description-block -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div>
             </div>
              </div>
    </div>
    </div>
    <div class="carousel-item">
     <div class="row">
              <div class="col-12 col-lg-6 col-md-6 col-sm-6">
              <div class="card card-curso border solid" >
                <div class="d-flex pt-2 pr-4 pr-lg-2  justify-content-between">
                    <img src="{% static 'img/python.png' %}" class="card-img-top h-25 w-25 h-md-25 w-md-50 m-2 rounded"  alt="...">
                    <div class="">
                      <div class="float-right mr-0">
                        <strong class="">
                          Tipo: corto
                          <i class="fa fa-clock pr-0 pl-2" ></i>:
                        </strong>
                        24h
                      </div>
                        <div class="pt-4">
                          <strong>
                            <i class="fa fa-university" aria-hidden="true"></i>:
                          </strong>
                        <small>San Miguel del Padron</small>
                        </div>
                        <div class="pl-0">
                          <i class="fas fa-chalkboard-teacher">:</i>
                            <small> Frank Alejandro
                          <img src="{{request.user.perfil.get_image}}" class="img-size-32 img-circle pr-2" alt="User Image">
                          </small>
                        </div>
                        
                    </div>
                </div>
                <div class="pl-0 d-flex justify-content-center ">
                          <small><i class="fa fa-newspaper pr-2" aria-hidden="true"></i></small>
                          
                            <small> 04/05/2021 <i class="fa fa-arrow-right" aria-hidden="true"></i> 14/05/2021
                          </small>
                </div>
                <div class="px-2">
                  <h6 class="mb-0 fs-5">
                        <strong>Nombre:</strong>
                  </h6>
                  <p class="mb-1"><small>Curso de Python para aprender a automatizar ddds sdcdcfds sdefsfsd</small></p>
                </div>
                <div class='px-2'>
                  <h6 class="mb-0 fs-5">
                        <strong>Descripción:</strong>
                  </h6>
                  <p><small> Curso de Python para aprender a automatizar ddds sdcdcfds sdefsfsd</small></p>
                </div>
                <div class="card-footer d-flex justify-content-end p-2">
                  <a href="#" class="btn btn-success mr-2 btn-sm">Detalles</a>
                  <a href="#" class="btn btn-sitio btn-sm">Matricular</a>
                </div>
              </div>
              </div>
              <div class="d-none d-sm-block col-12 col-lg-6 col-md-6 col-sm-6 ">
                <div class="card card-curso border solid" >
                <div class="d-flex pt-2 pr-4 pr-lg-2  justify-content-between">
                    <img src="{% static 'img/python.png' %}" class="card-img-top h-25 w-25 h-md-25 w-md-50 m-2 rounded"  alt="...">
                    <div class="">
                      <div class="float-right mr-0">
                        <strong class="">
                          Tipo: corto
                          <i class="fa fa-clock pr-0 pl-2" ></i>:
                        </strong>
                        24h
                      </div>
                        <div class="pt-4">
                          <strong>
                            <i class="fa fa-university" aria-hidden="true"></i>:
                          </strong>
                        <small>San Miguel del Padron</small>
                        </div>
                        <div class="pl-0">
                          <i class="fas fa-chalkboard-teacher">:</i>
                            <small> Frank Alejandro
                          <img src="{{request.user.perfil.get_image}}" class="img-size-32 img-circle pr-2" alt="User Image">
                          </small>
                        </div>
                        
                    </div>
                </div>
                <div class="pl-0 d-flex justify-content-center ">
                          <small><i class="fa fa-newspaper pr-2" aria-hidden="true"></i></small>
                          
                            <small> 04/05/2021 <i class="fa fa-arrow-right" aria-hidden="true"></i> 14/05/2021
                          </small>
                </div>
                <div class="px-2">
                  <h6 class="mb-0 fs-5">
                        <strong>Nombre:</strong>
                  </h6>
                  <p class="mb-1"><small>Curso de Python para aprender a automatizar ddds sdcdcfds sdefsfsd</small></p>
                </div>
                <div class='px-2'>
                  <h6 class="mb-0 fs-5">
                        <strong>Descripción:</strong>
                  </h6>
                  <p><small> Curso de Python para aprender a automatizar ddds sdcdcfds sdefsfsd</small></p>
                </div>
                <div class="card-footer d-flex justify-content-end p-2">
                 <a href="#" class="btn btn-success mr-2 btn-sm">Detalles</a>
                  <a href="#" class="btn btn-sitio btn-sm">Matricular</a>
                </div>
              </div>
              </div>
    </div>
    </div>
    <div class="carousel-item">
      <div class="row">
              <div class="col-12 col-lg-6 col-md-6 col-sm-6">
              <div class="card card-curso border solid" >
                <div class="d-flex pt-2 pr-4 pr-lg-2  justify-content-between">
                    <img src="{% static 'img/python.png' %}" class="card-img-top h-25 w-25 h-md-25 w-md-50 m-2 rounded"  alt="...">
                    <div class="">
                      <div class="float-right mr-0">
                        <strong class="">
                          Tipo: corto
                          <i class="fa fa-clock pr-0 pl-2" ></i>:
                        </strong>
                        24h
                      </div>
                        <div class="pt-4">
                          <strong>
                            <i class="fa fa-university" aria-hidden="true"></i>:
                          </strong>
                        <small>San Miguel del Padron</small>
                        </div>
                        <div class="pl-0">
                          <i class="fas fa-chalkboard-teacher">:</i>
                            <small> Frank Alejandro
                          <img src="{{request.user.perfil.get_image}}" class="img-size-32 img-circle pr-2" alt="User Image">
                          </small>
                        </div>
                        
                    </div>
                </div>
                <div class="pl-0 d-flex justify-content-center ">
                          <small><i class="fa fa-newspaper pr-2" aria-hidden="true"></i></small>
                          
                            <small> 04/05/2021 <i class="fa fa-arrow-right" aria-hidden="true"></i> 14/05/2021
                          </small>
                </div>
                <div class="px-2">
                  <h6 class="mb-0 fs-5">
                        <strong>Nombre:</strong>
                  </h6>
                  <p class="mb-1"><small>Curso de Python para aprender a automatizar ddds sdcdcfds sdefsfsd</small></p>
                </div>
                <div class='px-2'>
                  <h6 class="mb-0 fs-5">
                        <strong>Descripción:</strong>
                  </h6>
                  <p><small> Curso de Python para aprender a automatizar ddds sdcdcfds sdefsfsd</small></p>
                </div>
                <div class="card-footer d-flex justify-content-end p-2">
                 <a href="#" class="btn btn-success mr-2 btn-sm">Detalles</a>
                  <a href="#" class="btn btn-sitio btn-sm">Matricular</a>
                </div>
              </div>
              </div>
              <div class="d-none d-sm-block col-12 col-lg-6 col-md-6 col-sm-6 ">
                <div class="card card-curso border solid" >
                <div class="d-flex pt-2 pr-4 pr-lg-2  justify-content-between">
                    <img src="{% static 'img/python.png' %}" class="card-img-top h-25 w-25 h-md-25 w-md-50 m-2 rounded"  alt="...">
                    <div class="">
                      <div class="float-right mr-0">
                        <strong class="">
                          Tipo: corto
                          <i class="fa fa-clock pr-0 pl-2" ></i>:
                        </strong>
                        24h
                      </div>
                        <div class="pt-4">
                          <strong>
                            <i class="fa fa-university" aria-hidden="true"></i>:
                          </strong>
                        <small>San Miguel del Padron</small>
                        </div>
                        <div class="pl-0">
                          <i class="fas fa-chalkboard-teacher">:</i>
                            <small> Frank Alejandro
                          <img src="{{request.user.perfil.get_image}}" class="img-size-32 img-circle pr-2" alt="User Image">
                          </small>
                        </div>
                        
                    </div>
                </div>
                <div class="pl-0 d-flex justify-content-center ">
                          <small><i class="fa fa-newspaper pr-2" aria-hidden="true"></i></small>
                          
                            <small> 04/05/2021 <i class="fa fa-arrow-right" aria-hidden="true"></i> 14/05/2021
                          </small>
                </div>
                <div class="px-2">
                  <h6 class="mb-0 fs-5">
                        <strong>Nombre:</strong>
                  </h6>
                  <p class="mb-1"><small>Curso de Python para aprender a automatizar ddds sdcdcfds sdefsfsd</small></p>
                </div>
                <div class='px-2'>
                  <h6 class="mb-0 fs-5">
                        <strong>Descripción:</strong>
                  </h6>
                  <p><small> Curso de Python para aprender a automatizar ddds sdcdcfds sdefsfsd</small></p>
                </div>
                <div class="card-footer d-flex justify-content-end p-2">
                 <a href="#" class="btn btn-success mr-2 btn-sm">Detalles</a>
                  <a href="#" class="btn btn-sitio btn-sm">Matricular</a>
                </div>
              </div>
              </div>
    </div>
    </div>
  </div>
  </div>
    </div>
  </div>
  <!-- tabla de de +50% Matriculados -->
  <div class="col-12 col-lg-6">
    <div class="card">
      <div class="card-header border-0">
        <h3 class="card-title">Cursos +50% Matriculados</h3>
      </div>
        {% include 'sitio/componentes/tabla_curso_base.html' with body=casiMatriculados encabezado=casiMatriculadosEncabezado %}
    </div>
    <!-- /.card -->
  </div>
</div>
<!--primera seccion sugerencia y +50% matriculados-->
<div class="row">
  <div class="col-12 col-lg-6">
    <div class="card ">
      
      <div class="card-header border-0">
        <h1 class="card-title">Cursos Recientes:</h1>
      </div>
              {% include 'sitio/componentes/tabla_curso_base.html' with body=cursosRecientes encabezado=cursosRecientesEncabezado %}
    </div>
  </div>
  <!-- tabla de de +50% Matriculados -->
  <div class="col-12 col-lg-6">
    <div class="card">
      <div class="card-header border-0">
        <h3 class="card-title">Notificaciones</h3>
      </div>
        {% include 'sitio/componentes/tabla_curso_base.html' with body=notificaciones encabezado=notificacioneEncabezado %}
    </div>
    <!-- /.card -->
  </div>
</div>

{%endblock%}

{%block js %}
  <!-- OPTIONAL SCRIPTS -->
  <script src="{% static 'lib/adminlte-master/plugins/chart.js/Chart.min.js' %}"></script>
  <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
  <script src="{% static 'lib/adminlte-master/js/pages/dashboard3.js'%}"></script>
{%endblock  %}
