{% extends "base.html"%}
{% load static%}

{%block contenido%}
<div class="row">
  <div class="col-lg-6">
    <div class="card">
      <div class="card-header border-0">
        <div class="d-flex justify-content-between">
          <h3 class="card-title">Ventas Diciembre</h3>
          <div class="card-tools">
            <a href="#" class="btn btn-tool btn-sm">
              Mes <i class="fas fa-search"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="d-flex">
          <p class="d-flex flex-column">
            <span class="text-bold text-lg">Total: $20,000.</span>
            <span>Plan: $40,000.</span>
          </p>
          <p class="ml-auto d-flex flex-column text-right">
            <span class="text-success">
              <i class="fas fa-arrow-up"></i> 50%
            </span>
            <span class="text-perfil">Cumplimiento</span>
          </p>
        </div>
        <!-- /.d-flex -->
    
        <div class="position-relative mb-4">
          <canvas id="visitors-chart" height="150"></canvas>
        </div>
    
        <div class="d-flex flex-row justify-content-end">
          <span class="mr-5 text-perfil">
            Datos visuales últimos 7 dias
          </span>
          <span class="mr-2">
            <i class="fas fa-square text-primary"></i> Ventas
          </span>
    
          <span>
            <i class="fas fa-square text-gray"></i> Plan
          </span>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header border-0">
        <h3 class="card-title">Plan de Servicios Diciembre</h3>
        <div class="card-tools">
          <a href="#" class="btn btn-tool btn-sm">
            Mes <i class="fas fa-search"></i>
          </a>
        </div>
      </div>
      <div class="card-body table-responsive p-0">
        <table class="table table-striped table-valign-middle">
          <thead>
            <tr>
              <th>Servicio</th>
              <th>Plan</th>
              <th>Ventas</th>
              <th>Analizar</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
              <i class='fas fa-bell'></i>
                Tiempo Máquina
              </td>
              <td>$2,000.</td>
              <td>
                <small class="text-success mr-1">
                  <i class="fas fa-arrow-up"></i>
                  50%
                </small>
                $1,000
              </td>
              <td>
                <a href="#" class="text-perfil">
                  <i class="fas fa-search"></i>
                </a>
              </td>
            </tr>
            <tr>
              <td>
                <i class='fas fa-bell'></i>
                Navegación
              </td>
              <td>$3,000.</td>
              <td>
                <strong>
                <small class="text-danger mr-1">
                  <i class="fas fa-arrow-down"></i>
                  10%
                </small>
                </strong>
                $300
              </td>
              <td>
                <a href="#" class="text-perfil">
                  <i class="fas fa-search"></i>
                </a>
              </td>
            </tr>
            <tr>
              <td>
                <i class='fas fa-bars'></i>
                Alquiler de PC(N)
              </td>
              <td>$20,000.</td>
              <td>
                <small class="text-success mr-1">
                  <i class="fas fa-arrow-up"></i>
                  105%
                </small>
                $21,000.
              </td>
              <td>
                <a href="#" class="text-perfil">
                  <i class="fas fa-search"></i>
                </a>
              </td>
            </tr>
            <tr>
              <td>
                <i class='fas fa-book'></i>
                Graduados(Cursos)
                <span class="badge bg-danger">Nuevo</span>
              </td>
              <td>200</td>
              <td>
                <small class="text-warning mr-1">
                  <i class="fas fa-arrow-down"></i>
                  10%
                </small>
                20
              </td>
              <td>
                <a href="#" class="text-perfil">
                  <i class="fas fa-search"></i>
                </a>
              </td>
            </tr>
            <tr>
              <td>
                <i class='fas fa-bell'></i>
                Tiempo Máquina
              </td>
              <td>$2,000.</td>
              <td>
                <small class="text-success mr-1">
                  <i class="fas fa-arrow-up"></i>
                  50%
                </small>
                $1,000
              </td>
              <td>
                <a href="#" class="text-perfil">
                  <i class="fas fa-search"></i>
                </a>
              </td>
            </tr>
            <tr>
              <td>
                <i class='fas fa-bell'></i>
                Tiempo Máquina
              </td>
              <td>$2,000.</td>
              <td>
                <small class="text-success mr-1">
                  <i class="fas fa-arrow-up"></i>
                  50%
                </small>
                $1,000
              </td>
              <td>
                <a href="#" class="text-perfil">
                  <i class="fas fa-search"></i>
                </a>
              </td>
            </tr>
            <tr>
              <td>
                <i class='fas fa-bell'></i>
                Tiempo Máquina
              </td>
              <td>$2,000.</td>
              <td>
                <small class="text-success mr-1">
                  <i class="fas fa-arrow-up"></i>
                  50%
                </small>
                $1,000
              </td>
              <td>
                <a href="#" class="text-perfil">
                  <i class="fas fa-search"></i>
                </a>
              </td>
            </tr>
            <tr>
              <td>
                <i class='fas fa-bell'></i>
                Tiempo Máquina
              </td>
              <td>$2,000.</td>
              <td>
                <small class="text-success mr-1">
                  <i class="fas fa-arrow-up"></i>
                  50%
                </small>
                $1,000
              </td>
              <td>
                <a href="#" class="text-perfil">
                  <i class="fas fa-search"></i>
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!-- /.card -->
  </div>
  <!-- /.col-md-6 -->
  <div class="col-lg-6">
    <div class="card">
      <div class="card-header border-0">
        <div class="d-flex justify-content-between">
          <h3 class="card-title">Última Lectura de Energía 10/12/2020</h3>
          <div class="card-tools">
            <a href="#" class="btn btn-tool btn-sm">
              Mes <i class="fas fa-search"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="d-flex">
          <p class="d-flex flex-column">
            <span class="text-bold text-lg">150 k/w</span>
            <span>Consumo</span>
          </p>
          <p class="ml-auto d-flex flex-column text-right">
            <span class="text-warning">
              <i class="fas fa-arrow-down"></i> 105%
            </span>
            <span class="text-perfil">Plan</span>
          </p>
        </div>
        <!-- /.d-flex -->
    
        <div class="position-relative mb-4">
          <canvas id="energia-chart" height="150"></canvas>
        </div>
    
        <div class="d-flex flex-row justify-content-end">
          <span class="mr-2">
            <i class="fas fa-square text-primary"></i> Consumo
          </span>
    
          <span>
            <i class="fas fa-square text-gray"></i> Plan
          </span>
        </div>
      </div>
    </div>
    <div class="card card-default">
      <div class="card-header">
        <h3 class="card-title">
          <i class="fas fa-bullhorn"></i>
          Últimas Noticias
        </h3>
      </div>
      <!-- /.card-header -->
      <div class="card-body">
        <div class="callout callout-danger">
          <h5>Un llamado de Advertencia a Regla1!</h5>
          <p>El consumo de enería está por los cielos. Tomen las medidas necesarias para revertir esa situación</p>
          <div class='row'>
            <div class='col-md-6'></div>
            <div class='col-md-6'>
              <span class='text-perfil' style="float: right;">Guillermo Constantin</span>
            </div>
          </div>
        </div>
        <div class="callout callout-info">
          <h5>Entradas para Círculo Social!</h5>
          <p>Hay 2 entradas para el 10 y 12 de este mes. Llamen a Roaldys</p>
          <div class='row'>
            <div class='col-md-6'></div>
            <div class='col-md-6'>
              <span class='text-perfil' style="float: right;">Guillermo Constantin</span>
            </div>
          </div>
        </div>
        <div class="callout callout-warning">
          <h5>Fin de año!</h5>
          <p>Recuerden ya estamos en fin de año, estar al tanto en su puesto de trabajo.</p>
          <div class='row'>
            <div class='col-md-6'></div>
            <div class='col-md-6'>
              <span class='text-perfil' style="float: right;">Guillermo Constantin</span>
            </div>
          </div>
        </div>
      </div>
      <!-- /.card-body -->
    </div>
  </div>

  <!-- /.col-md-6 -->
</div>
<div class='row'>
  <div class='col-lg-12'>
      <div class="card">
        <div class="card-header border-0">
          <div class="d-flex justify-content-between">
            <h3 class="card-title">Ventas 2020</h3>
            <div class="card-tools">
              <a href="#" class="btn btn-tool btn-sm">
                Pdf <i class="fas fa-search"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="d-flex">
            <p class="d-flex flex-column">
              <span class="text-bold text-lg">$18,230.00</span>
              <span>Total de Ventas</span>
            </p>
            <p class="ml-auto d-flex flex-column text-right">
              <span class="text-success">
                <i class="fas fa-arrow-up"></i> 50.1%
              </span>
              <span class="text-perfil">Cumplimiento</span>
            </p>
          </div>
          <!-- /.d-flex -->
      
          <div class="position-relative mb-4">
            <canvas id="sales-chart" height="200"></canvas>
          </div>
      
          <div class="d-flex flex-row justify-content-end">
            <span class="mr-2">
              <i class="fas fa-square text-primary"></i> Ventas
            </span>
      
            <span>
              <i class="fas fa-square text-gray"></i> Plan
            </span>
          </div>
        </div>
      </div>
    </div>
</div>

{%endblock%}

{%block js %}
  <!-- OPTIONAL SCRIPTS -->
  <script src="{% static 'lib/adminlte-master/plugins/chart.js/Chart.min.js' %}"></script>
  <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
  <script src="{% static 'lib/adminlte-master/js/pages/dashboard3.js'%}"></script>
{%endblock  %}
